<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
            z-index: 0;
        }
    </style>

    <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">
    <!-- update the version number as needed -->
    <script src="/__/firebase/7.24.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script src="/__/firebase/7.24.0/firebase-auth.js"></script>
    <script src="/__/firebase/7.24.0/firebase-database.js"></script>
    <script src="/__/firebase/7.24.0/firebase-messaging.js"></script>
    <script src="/__/firebase/7.24.0/firebase-storage.js"></script>
    <script src="/__/firebase/7.24.0/firebase-firestore.js"></script>
    <script src="/__/firebase/7.24.0/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script src="/__/firebase/init.js"></script>
    <script src="resources/json/boundaries.js"></script>

    <script src="resources/js/jquery-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.1.0/rxjs.umd.js"></script>
    <script src="resources/js/vue.js"></script>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">
</head>

<body>

    <nav class="navbar navbar-inverse" id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="#">Map Viewer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- <ul class="nav navbar-nav">
                    <li class="active"><a href="map.html">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div id="warnings-panel"></div>
                </ul> -->
            </div>
            <button id="button_modal" type="button" class="btn btn-info btn-lg hidden" data-toggle="modal"
                data-target="#myModal"></button>
            <div class="progress" id="progressDirection">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                    aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    please wait...
                </div>
            </div>

        </div>
    </nav>

    <div id="modalloader" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content" id="modal-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Evacuation Recommendation Results</h4>
                </div>
                <div class="modal-body" style="overflow-x: auto;">
                    <!--<div class="container">-->
                    <!-- <div class="panel panel-default">
                        <div class="panel-body" v-if='items!=null'>  --> 
                            <div class="table-responsive" style="width: 100%">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>#</th>
                                        <th>NAME</th>
                                        <th>DISTANCE</th>
                                        <th>CAPACITY</th>
                                        <th>CURRENT POPULATION</th>
                                        <th>FLOOR SPACE</th>
                                        <th>OBJECTIVE OUTPUT</th>
                                        <th>FITNESS OUTPUT</th>
                                        <th>OPTIONS</th>
                                    </tr>
                                    <tr v-for='test,index in items'>
                                        <td>{{index + 1}}</td>
                                        <td>{{test.evac.name}}</td>
                                        <td>{{test.evac.distance.toFixed(2)+" km"}}</td>
                                        <td>{{test.evac.population_capacity}}</td>
                                        <td>{{active_dict[test.evac.id] || 0}}</td>
                                        <td>{{test.evac.floor_space}}</td>
                                        <td>{{test.conflicts.toFixed(4)}}</td>
                                        <td>{{test.fitness.toFixed(4)}}</td>
                                        <td><button type="button" class="btn btn-success" v-on:click="proceed(index)" data-dismiss="modal">Select</button></td>
                                    </tr>
                                </table> 
                            </div>    
                        <!-- </div>
                    </div> -->
                    


                    <div class="panel panel-success" v-if='winner!=null'>
                        <div class="panel-heading">The Best: {{winner.evac.name}}</div>
                        <div class="panel-body">
                            <!-- <div class="col-md-4">Distance: {{winner.evac.distance.toFixed(2)+" km"}}</div>
                            <div class="col-md-2">Capacity: {{winner.evac.population_capacity}}</div>
                            <div class="col-md-2">Current Population: {{active_dict[winner.evac.id] || 0}}</div>
                            <div class="col-md-2">Floor Space: {{winner.evac.floor_space}}</div>
                            <div class="col-md-2">Objective Output: {{winner.conflicts.toFixed(4)}}</div>
                            <div class="col-md-2">Fitness Output: {{winner.fitness.toFixed(4)}}</div> -->
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>DISTANCE</th>
                                        <th>CAPACITY</th>
                                        <th>CURRENT POPULATION</th>
                                        <th>FLOOR SPACE</th>
                                        <th>OBJECTIVE OUTPUT</th>
                                        <th>FITNESS OUTPUT</th>
                                    </tr>
                                    <tr>
                                        <td>{{winner.evac.distance.toFixed(2)+" km"}}</td>
                                        <td>{{winner.evac.population_capacity}}</td>
                                        <td>{{active_dict[winner.evac.id] || 0}}</td>
                                        <td>{{winner.evac.floor_space}}</td>
                                        <td>{{winner.conflicts.toFixed(4)}}</td>
                                        <td>{{winner.fitness.toFixed(4)}}</td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                        <div class="panel-footer">
                            <p>Elapsed Time: {{elapsedtime}}</p>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="proceed()" data-dismiss="modal">Proceed</button>
                    <button type="button" id='button-modal-close' class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="map"></div>
    <div class="bottom-container">
        <button class="btn btn-info button-view" id="button_add_new" onclick="mapApp.getLocation()">Get Location</button>
        <button class="btn btn-info button-view" id="button_add_new" onclick="mapApp.locateEvac()">Locate Evacuation Center</button>
    </div>
    <!-- Modal -->

    <script src="resources/js/dijkstra.js"></script>
    <script src="resources/js/xmlparser.js"></script>
    <script src="resources/json/coordinates.js"></script>
    <script src="resources/json/boundaries.js"></script>

    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/moabc/utilities.js"></script>
    <script src="../_global/js/moabc/objects.js"></script>
    <script src="../_global/js/moabc/evacuation.js"></script>
    <script src="../_global/js/moabc/honey.js"></script>
    <script src="../_global/js/moabc/moabc.js"></script>
    <script src="../_global/js/moabc/test.js"></script>
    
    <script  src="resources/src/js/maphandler.js"></script>
    <script src="resources/src/js/datahandler.js"></script>
    <script src="resources/src/js/utilities.js"></script>
    <script  src="resources/src/js/map_app.js"></script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkbPEnpffZuVgv2R1hjs_wb_uvz5sfYpg&libraries=places&callback=onInitializeMap"
        async defer></script>
</body>

</html>
