<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>iEvacuate</title>
    <link rel="shortcut icon" href="resources/images/logo.png" />

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <!-- CSS  -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>

    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <!-- <script src="js/materialize.js"></script> -->
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-fixed-top" id="header" attr="gallery">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <p class="img-large">GOV PH</p>
                    <img class="img-small" src="resources/images/logo.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <img class="img-small" src="resources/images/logo.png">
                <ul class="nav navbar-nav">
                    <li v-for="item in header_items" :class="active == item.id ? 'active' : ''">
                        <a :href="item.href">{{item.title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="https://bfpforecast.000webhostapp.com/admin/login.html?"><span
                                class="glyphicon glyphicon-user"></span>
                            Login</a></li> -->
                            <li v-for="item in right_header">
                                <a :href="item.href" >
                                    <span :class="'glyphicon '+item.icon"></span>
                                    {{item.title}}
                                </a>
                            </li>
                </ul>
            </div>
        </div>
    </nav>



    <div id="post-container">

        <div id="galleryModal" class="modal fade" role="dialog">
            <div class="modal-dialog" v-if="view_post != null">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{view_post.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{view_post.description}}</p>
                        <slideshow-container :images="view_post.images" :cdn="cdn" ></slideshow-container>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div id="jumbotron" class="jumbotron">
                <!-- <img class="foreground backgroundesources/images/logo1.png"> -->
                <!-- <img class="foreground" src="resources/images/background.jpg"> -->
                <p class="time">Today: {{time}}</p>
            </div>
            <div class="page-header">
                <h3>Latest Photos</h3>
            </div>
            <slideshow-container :images="images" :cdn="cdn"></slideshow-container>


            <div class="row" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;">
                <div class="page-header">
                    <h3>Gallery</h3>
                </div>

                <div class="row" v-if="posts.length > 0">
                    <div class="col col-md-4 well well-lg" v-for="(item,index) in posts" v-on:click="viewItem(index)">
                        <div class="post-list-item">
                            <img :src="cdn + item.images[0]" alt=""
                                style="height: 100px; width: '100%'; background-size: contain;">
                            <h3 class="title">{{item.title}}</h3>
                            <p class="time">{{item.date_updated}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>



        <div class="footer">
            <img class="footer-img" src="resources/images/govph-seal-mono-footer.jpg">
            <div class="footer-item">
                <p class="footer-label">REPUBLIC OF THE PHILIPPINES</p>
                <p>All content is in the public domain unless otherwise stated.</p>
            </div>
        </div>

    </div>


    <!--  Scripts-->
    <script src="js/app/app.js"></script>


    <script>
        app = new Vue({
            el: '#post-container',
            data: {
                posts: [],
                view_post: null,
                images: [],
                cdn: DataHandlerType.api_host,
                time: "",
            },
            methods: {
                onStart() {
                    this.onStartTime()
                    this.fetchData()
                },
                fetchData() {
                    DataHandler.getPublicImages().then((message) => {
                        this.posts = message.data
                        this.images = message.data.map((val) => {
                            return val.images
                        }).filter((val, index) => {
                            return index < 10
                        }).reduce((prev = [], images) => {
                            return prev.concat(images)
                        })

                        console.log(this.images)
                    }).catch((error) => {
                        console.log(error)
                    })
                },

                viewItem(index) {
                    this.view_post = this.posts[index]
                    console.log(this.view_post)
                    $('#galleryModal').modal()
                },

            }
        })
    </script>
</body>

</html>