<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>iEvacuate</title>
    <link rel="shortcut icon" href="resources/images/logo.png" />

    <!-- update the version number as needed -->
    <script src="/__/firebase/7.24.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script src="/__/firebase/7.24.0/firebase-auth.js"></script>
    <script src="/__/firebase/7.24.0/firebase-database.js"></script>
    <script src="/__/firebase/7.24.0/firebase-messaging.js"></script>
    <script src="/__/firebase/7.24.0/firebase-storage.js"></script>
    <script src="/__/firebase/7.24.0/firebase-firestore.js"></script>
    <script src="/__/firebase/7.24.0/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script src="/__/firebase/init.js"></script>

    <!-- CSS  -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <!-- <script src="js/materialize.js"></script> -->
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>

</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-fixed-top" id="header" attr="home">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <p class="img-large">GOV PH</p>
                    <img class="img-small" src="resources/images/logo.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <img class="img-small" src="resources/images/logo.png">
                <ul class="nav navbar-nav">
                    <li v-for="item in header_items" :class="active == item.id ? 'active' : ''">
                        <a :href="item.href">{{item.title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li v-for="item in right_header">
                        <a :href="item.href">
                            <span :class="'glyphicon '+item.icon"></span>
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="post-container">

        <div class="container">
            <div id="jumbotron" class="jumbotron">
                <p class="time">Today: {{time}}</p>
            </div>
            <div>&nbsp;</div>

            <div class="page-header">
                <h1>Public Info</h1>
            </div>
            <!---->
            <div class="subcontent">
                <div class="section" v-if="muni_inv_list.length > 0">
                    <div class="section header">
                        <h4>Municipal Inventory</h4>
                    </div>
                    <div class="table-container" id="tableData">
                        <div class="panel-group" v-for="muni_inv,index in muni_inv_list">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <p class="item-value">
                                            {{index + 1}}. {{muni_inv.name}}
                                        </p>
                                        <p class="item-value">
                                            {{muni_inv.municipality}}
                                        </p>
                                        <p class="item-value">
                                            {{formatDate(muni_inv.date_created)}}
                                        </p>
                                        <p class="item-value">
                                            {{formatDate(muni_inv.date_updated)}}
                                        </p>
                                        <p class="item-value">
                                            {{muni_inv.description}}
                                        </p>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <button type="button" id="add-report" class="btn btn-success button-view"
                                        v-on:click="onViewMuniInventory(muni_inv.id)">
                                        View Inventory
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <button type="button" id="add-report" class="btn btn-info button-view"
                        v-on:click="onGoToDonorProfile()">Donate Now</button>
                    <div>&nbsp;</div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#evacuation_centers">Evacuation Centers</a></li>
                        <li><a data-toggle="tab" href="#supplies">Supplies</a></li>
                        <li><a data-toggle="tab" href="#donors">Donor Supply</a></li>
                        <li><a data-toggle="tab" href="#comments">Public Users</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active table-container" id="evacuation_centers">
                            <div class="panel-group" v-for="evac,index in evac_list">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <p class="item-value">
                                                {{index + 1}}. {{evac.name}}
                                            </p>

                                            <p class="item-value">
                                                {{evac.exact_address}}
                                            </p>
                                            <p class="item-value">
                                                inventories:
                                                {{evacuation_inventories[evac.id] ? evacuation_inventories[evac.id].length : 0}}
                                            </p>
                                            <p class="item-value" v-if="active_history_dict[evac.id]">
                                                current population:
                                                {{active_history_dict[evac.id].count || 0}}
                                            </p>
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group"
                                            v-if="evacuation_inventories[evac.id] == undefined || evacuation_inventories[evac.id].length <= 0">
                                            <div class="col col-md-8">
                                                <p class="item-value">No Inventory</p>
                                            </div>
                                        </ul>
                                        <ul class="list-group"
                                            v-for="inventory,index in evacuation_inventories[evac.id]">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col col-md-12">
                                                        <p class="item-value">{{index+1}}. {{inventory.name}}</p>
                                                    </div>
                                                    <div class="col col-md-5">
                                                        <p class="item-value">{{inventory.description}}</p>
                                                    </div>
                                                    <div class="col col-md-3">
                                                        <p class="item-value">date created:
                                                            {{formatDate(inventory.date_created)}}
                                                        </p>
                                                    </div>
                                                    <div class="col col-md-3">
                                                        <p class="item-value">
                                                            date updated: {{formatDate(inventory.date_updated)}}
                                                        </p>
                                                    </div>
                                                    <div class="col col-md-12">
                                                        <button type="button" id="add-report"
                                                            class="btn btn-info button-view" :href="'#'+inventory.id"
                                                            data-toggle="collapse">View Supplies</button>
                                                    </div>
                                                </div>
                                                <div :id="inventory.id" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"
                                                                v-for="supply,index in inventory_supplies[inventory.id]">
                                                                <div class="row">
                                                                    <div class="col col-md-4 item-info">
                                                                        <p class="item-label">
                                                                            Name:
                                                                        </p>
                                                                        <p class="item-value">
                                                                            {{supply_types[supply.inventory_type] ? supply_types[supply.inventory_type].name : ""}}
                                                                        </p>
                                                                    </div>
                                                                    <div class="col col-md-2 item-info">
                                                                        <p class="item-label">
                                                                            Quantity:
                                                                        </p>
                                                                        <p class="item-value">
                                                                            {{supply.qty}}
                                                                        </p>
                                                                    </div>
                                                                    <div class="col col-md-4 item-info">
                                                                        <p class="item-label">
                                                                            Date Supplied:
                                                                        </p>
                                                                        <p class="item-value">
                                                                            {{formatDate(supply.date_supplied)}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div class="panel-footer">
                                    <button type="button" id="add-report" class="btn btn-info button-view"
                                        v-on:click="addNewRequest(evac.id)">
                                        Donate
                                    </button>
                                </div> -->
                            </div>

                        </div>
                        <div class="tab-pane table-container" id="supplies">
                            <div class="panel-group" v-for="entry,index in supply_types_option">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <p class="item-value">
                                                {{index + 1}}. {{entry.title}} - Total qty:
                                                {{supply_types[entry.value].qty}}
                                            </p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane table-container" id="donors">
                            <div class="well" v-for="item,index in donor_report_list">
                                <div class="row">
                                    <div class="col col-md-12 item-info">
                                        <p class="item-value">{{index + 1}}.</p>
                                    </div>
                                  <!--   <div class="col col-md-12">
                                        <donor-container :donor="getDonor(item.user_id)"></donor-container>
                                    </div> -->
                                    <div class="col col-md-12 item-info" v-if="getDonorName(item.user_id)">
                                        <p class="item-label">Donor</p>
                                        <p class="item-value">
                                            {{getDonorName(item.user_id)}}
                                        </p>
                                    </div>
                                    <div class="col col-md-4 item-info " v-for="info,index in donor_report_headers"
                                        v-if="info != 'user_id'">
                                        <div v-if="info == 'evac_id'">
                                            <p class="item-label">EVACUATION NAME</p>
                                            <p class="item-value">
                                                {{item.evac_id.isEmpty() ? 'public' : evac_names[item.evac_id]}}</p>
                                        </div>
                                        <div v-if="info != 'evac_id' && !info.includes('date')">
                                            <p class="item-label">{{info.replace(/_/g,' ').toUpperCase() +": "}}</p>
                                            <p class="item-value">{{item[info] ? item[info] : 'N/A'}}</p>
                                        </div>
                                        <div v-if="info.includes('date')">
                                            <p class="item-label">{{info.replace(/_/g,' ').toUpperCase() +": "}}</p>
                                            <p class="item-value">{{item[info] ? formatDate(item[info]): 'N/A'}}</p>
                                        </div>
                                    </div>
                                    <div class="col col-md-12">
                                        <button class="btn btn-default btn-info" :href="'#requestrow-'+index"
                                            data-toggle="collapse">View Request</button>
                                    </div>
                                </div>
                                <div :id="'requestrow-'+index" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item" v-if="item.reports.isEmpty()">
                                                <p>No Request</p>
                                            </li>

                                            <li class="list-group-item" v-for="report,index in item.reports">
                                                <div class="row">
                                                    <div class="col col-md-12 item-info">
                                                        <p class="item-label">
                                                            {{ index + 1 }}.
                                                            {{supply_types[report.inventory_type].name}}
                                                        </p>
                                                    </div>
                                                    <div class="col col-md-12 item-info">
                                                        <p class="item-label">
                                                            QTY:
                                                        </p>
                                                        <p class="item-value">
                                                            {{report.qty}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane table-container" id="comments">
                            <iframe :onload="iframeLoaded()" id="comment-iframe" src="comments.html"
                                style="width: 100%; border: 0; height: 700px;"></iframe>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="footer">
            <img class="footer-img" src="resources/images/govph-seal-mono-footer.jpg">
            <div class="footer-item">
                <p class="footer-label">REPUBLIC OF THE PHILIPPINES</p>
                <p>All content is in the public domain unless otherwise stated.</p>
            </div>
        </div>

    </div>


    <!--  Scripts-->
    <script src="js/app/app.js"></script>
    <script>
        app = new Vue({
            el: '#post-container',
            data: {

                cdn: DataHandlerType.api_host,
                time: "",

                
                donor_report_headers: DonorsReport.headers,

                donor_org_dict: {},
                donor_indv_dict: {},
                donor_report_list: [],

                /** contains the current number of population per evacuation center */
                active_history_dict: {},

                //EVAC
                evac_list: [],
                evac_names: {},
                muni_inv_list: [],

                //SUPPLIES
                supply_types: {},
                supply_types_option: [],

                //INVENTORIES
                public_inventories: [],
                evacuation_inventories: {},
                inventory_supplies: {},

                view_inventory: null,

            },
            methods: {
                onStart() {
                    this.onStartTime()
                    this.fetchReports()
                },

                fetchReports() {

                    DataHandler.getSupplyTypes().then((message) => {
                        var suppliesPromise = []
                        this.supply_types_option = message.data.map((supply) => {
                            this.supply_types[supply.id] = supply

                            let promiseSupply = DataHandler.getObjects(EvacuationSupply,
                                    UserHandler.tables.evacuation_supply, ['inventory_type',
                                        '==', supply.id
                                    ])
                                .then((message) => {
                                    return {
                                        id: supply.id,
                                        data: message.data
                                    }
                                })

                            suppliesPromise.push(promiseSupply)
                            return {
                                title: supply.name,
                                value: supply.id
                            }
                        })
                        console.log("supply types %o", this.supply_types)

                        return Promise.all(suppliesPromise)
                    }).then((list) => {
                        list.forEach((val) => {
                            this.supply_types[val.id].qty = val.data.length
                        })
                    }).catch(err => {
                        console.log("err %o", err)
                    })
                    
                    DataHandler.getPublicActivePopulation(true).then((message) => {
                        this.active_history_dict = message.data
                        console.log("active history dict %o", this.active_history_dict)
                    }).catch(err => {
                        console.log(err)
                    })

                    DataHandler.getEvacuationCenters().then((data) => {
                        this.evac_list = data.data
                        console.log("evacuations %o", this.evac_list)
                        var promiseInv      = []
                        var promiseUsers    = []

                        let evac_options = this.evac_list.map((evac) => {
                            this.evac_names[evac.id] = evac.name
                            promiseInv.push(DataHandler.getInventories(evac.id))
                            return {
                                title: evac.name,
                                value: evac.id
                            }
                        })
                        console.log("loaded evacuations")
                        return Promise.all(promiseInv)
                    }).then((data) => {
                        var promiseInvSupp = []
                        console.log("loaded inventories")
                        data.forEach(message => {
                            const inventory = message.data
                            this.evacuation_inventories[inventory.id] = inventory.inventories ||
                                []
                            let ids = DataHandler.getSupplies(inventory.inventories.map(inv => {
                                return inv.id
                            }))
                            promiseInvSupp.push(ids)
                        });
                        return Promise.all(promiseInvSupp)
                    }).then((data) => {
                        console.log("loaded supplies")
                        data.forEach((val) => {
                            val.data.forEach((supply) => {
                                this.inventory_supplies[supply.inventory_id] = supply
                                    .supplies
                            })
                        })

                        console.log("evacs %o", this.evac_list)
                        console.log("inventories %o", this.evacuation_inventories)
                        console.log("inventory supplies %o", this.inventory_supplies)
                    }).catch(err => {
                        console.log("err %o", err)
                    })



                    let promiseDonorOrg     = DataHandler.getDonorOrganizationsDict()
                    let promiseDonorInv     = DataHandler.getDonorIndividualDict()
                    let promiseDonorReports = DataHandler.getDonorReports()

                    Promise.all([promiseDonorOrg, promiseDonorInv, promiseDonorReports]).then((value) => {
                        this.donor_org_dict     = value[0].data
                        this.donor_indv_dict    = value[1].data
                        this.donor_report_list  = value[2].data
                    }).catch(err => {
                        console.log(err)
                    })

                    DataHandler.getMunicipalInventories().then((data) => {
                        this.muni_inv_list = data.data
                        console.log("muni list %o", this.muni_inv_list)
                    }).catch((err) => {
                        console.log(err)
                    })

                }, //fetchReports   

                getDonor(user_id) {
                    let org     = this.donor_org_dict[user_id]
                    let indv    = this.donor_indv_dict[user_id]

                    if(org) {
                        return org
                    }

                    if(indv) {
                        return indv
                    }

                    return null
                },

                getDonorName(user_id){
                    let org     = this.donor_org_dict[user_id]
                    let indv    = this.donor_indv_dict[user_id]

                    if(org) {
                        return org.name
                    }

                    if(indv) {
                        return indv.lastname + ", "+indv.firstname
                    }

                    return null
                },

                iframeLoaded() {
                    // var iFrameID = document.getElementById('comment-iframe');
                    // if (iFrameID) {
                    //     // here you can make the height, I delete it first, then I make it again
                    //     iFrameID.height = "";
                    //     iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
                    // }
                },

                onGoToDonorProfile() {
                    window.open('login-donors.html','_self')
                },

                onViewMuniInventory(id) {
                    window.open(`inventory_detail.html?inventory_id=${id}&isMuni=true`)
                },
            }
        })
    </script>
</body>

</html>