<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evacuations</title>
    
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    
    
    
</head>

<body>
    <div class="sidenav" id="header" attr="content">
        <div class="sidenav-item">
            <img class="nav-image" :src="logo" />
        </div>
        
        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>
        
        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editorModal">Open Modal</button> -->
    <div class="container" id="content">
        <ul class="breadcrumb">
            <li><a href="contents.html">Contents</a></li>
            <li><a href="content_information.html">Other Information</a></li>
            <li><a href="#">Editor</a></li>
        </ul>
        <div class="subcontent">
            <div class="section header">
                <h1>Edit Information</h1>
            </div>
            
            <div class="section">
                <button type="button" id="add-report" class="btn btn-info button-view" v-on:click="onSaveEntry()">
                    Save
                </button>
            </div>
            <p></p>
            <div class="loader-container" v-if="isLoading">
                <div class="loader"></div>
            </div>
            <div class="section" id="editor" v-if="!isLoading">
                <div class="row">
                    
                </div>
            </div>
            
        </div>
        
    </div>
    
    <div class="container">
        <textarea v-once id="contenteditor" name=""></textarea>
    </div>
    
    
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script src="js/app/datahandler.js"></script>
    <script src="js/app/app.js"></script>
    
    <script>
        app = new Vue({
            el: '#content',
            data: {
                user: null,
                admins: [],
                admins_selection: [],
                data_input: new PublicContent(), //new EvacuationCenter(),
                content: "",
                isEdit: false,
                isLoading: false,
                cdn: DataHandlerType.api_host,
            },
            methods: {
                onStart() {
                    this.user = header.user
                    this.fetchAllAdmins()
                    this.fetchPost()
                }, //onStart
                
                fetchPost() {
                    this.isLoading = true
                    //Get Entry From DB
                    DataHandler.getPublicInformation().then((data) => {
                        this.data_input = data.data[0] || new PublicInformation()
                        console.log("entry %o", this.data_input)
                        return DataHandler.getPublicPostContent(this.data_input.path)
                    }).then((data) => {
                        this.content = data
                        console.log("content %o", data)
                        $('#contenteditor').val(data)
                    }).catch(err => {
                        console.log(err)
                    }).finally(() => {
                        this.isLoading = false
                        this.onNewEditor()
                    })
                }, //fetchPost
                
                
                onNewEditor(){
                    CKEDITOR.replace('contenteditor');
                },
                
                fetchAllAdmins() {
                    DataHandler.getAdminUsers(this.user.id).then((message) => {
                        this.admins = message.data
                        this.admins.forEach(admin => {
                            this.admins_selection[admin.id] =
                            `${admin.lastname}, ${admin.firstname}`
                        });
                    }).catch((error) => {
                        console.log(error)
                    })
                }, //fetchAllAdmins
                
                onSaveEntry() {
                    var editorText = CKEDITOR.instances.contenteditor.getData();
                    
                    const file = new File([editorText || ""], (this.data_input.path && this.data_input.path != "") ? this.data_input.path : `${this.data_input.id}.txt`, {type: "text/plain", lastModified: new Date()})
                    
                    console.log("file %o", file)
                    
                    DataHandler.addPublicInformation(this.data_input, file)
                    .then((message) => {
                        if(!message.error) {
                            AlertMessages.success()
                            this.fetchPost()
                        } else {
                            AlertMessages.error(message.error)
                        }
                    })
                },//onSaveEntry
                
                onDeleteEntry() {
                    if (confirm('Deleting Item\nPress confirm to proceed')) {
                        DataHandler.deletePublicInformation(this.data_input).then((data) => {
                            console.log(data)
                            if (data.error) {
                                AlertMessages.error(data.error)
                            } else {
                                AlertMessages.deleted()
                                window.history.back()
                            }
                        })
                    }
                },//onDeleteEntry
                
            }
        })
    </script>
    
</body>

</html>