<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evacuations</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>



</head>

<body>
    <div class="sidenav" id="header" attr="content">
        <div class="sidenav-item">
            <img class="nav-image" :src="logo" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editorModal">Open Modal</button> -->
    <div class="container" id="content">

        <div class="subcontent">
            <div class="section header">
                <h1>Edit Post</h1>
            </div>


            <div class="section">
                <button type="button" id="add-report" class="btn btn-info button-view" v-on:click="onAddItem()">
                    Save
                </button>
                <button type="button" id="add-report" class="btn btn-info button-view" v-on:click="onAddItem()">
                    Create New Post
                </button>
                <button type="button" id="add-report" class="btn btn-info button-view" v-on:click="onAddItem()">
                    Delete Post
                </button>
            </div>
            <p></p>
            <div class="loader-container" v-if="isLoading">
                <div class="loader"></div>
            </div>
            <div class="section" id="editor" v-if="!isLoading">
                <textarea id="texteditor" name="text"></textarea>
            </div>

        </div>

    </div>

    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script src="js/app/datahandler.js"></script>
    <script src="js/app/constants.js"></script>
    <script src="js/app/app.js"></script>


    <script>
        app = new Vue({
            el: '#content',
            data: {
                user: null,
                admins: [],
                admins_selection: [],
                data_input: new PublicContent(), //new EvacuationCenter(),
                isEdit: false,
                isLoading: false,
                cdn: DataHandlerType.api_host,
            },
            methods: {
                onStart() {
                    this.user = header.user
                    
                    this.fetchAllAdmins()
                    

                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const id = urlParams.get('id')
                    
                    this.fetchPost(id)
                    
                    
                }, //onStart

                fetchPost(id) {
                    this.isLoading = true
                    if (id) {
                        //Get Entry From DB
                        DataHandler.getContentPost(id).then((data) => {
                            this.setPost(data.data)
                            $('#texteditor').text(this.data_input.content)
                        }).catch(err => {
                            console.log(err)
                        }).finally(() => {
                            this.isLoading = false
                        })
                    } else {
                        //New Entry
                        this.isLoading = false
                        CKEDITOR.replace('editor');
                    }
                }, //fetchPost

                fetchAllAdmins() {
                    DataHandler.getAdminUsers(this.user.id).then((message) => {
                        this.admins = message.data
                        this.admins.forEach(admin => {
                            this.admins_selection[admin.id] =
                                `${admin.lastname}, ${admin.firstname}`
                        });
                    }).catch((error) => {
                        console.log(error)
                    })
                }, //fetchAllAdmins

                setPost(data) {
                    this.data_input = data
                    console.log(this.post_list)
                    
                }, //setPost

                onAddItem() {
                    if (confirm("All Changes will be discarded")) {
                        window.open('content_editor.html')
                    }
                }, //onAddItem

                onEditItem(index) {}, //onEditItem

                deleteItem(index) {
                    if (confirm('Deleting Item\nPress confirm to proceed')) {
                        DataHandler.deletePublicPost(this.post_list[index]).then((data) => {
                            console.log(data)
                            if (data.error) {
                                alert(`Can't Delete Item ${data.error}`)
                            } else {
                                alert(`Item Have Been Deleted Successfuly`)
                                this.fetchPost()
                            }
                        })
                    }
                }, //deleteItem

                onAddImages(index) {
                    const files = document.getElementById('input_images' + index).files;
                    var uploads = []
                    for (var i = 0; i < files.length; i++) {
                        uploads.push(files[i])
                    }

                    if (uploads.length > 0) {
                        var value = PublicContent.parse(this.post_list[index].toObject())
                        DataHandler.addPublicPost(value, uploads).then((message) => {
                            if (!message.error) {
                                alert("Item Persisted Successfuly")
                                this.fetchPost()
                            } else {
                                alert(`Failed to updated error: ${message.error}`)
                            }
                        }).catch(error => {
                            console.log(error)
                        })
                    }
                },

                onDeleteImage(item_id, image_index) {
                    let first = this.post_list.filter((value) => {
                        return value.id == item_id
                    })[0]

                    if (first && confirm("Do you want to delete this image?")) {
                        let image_to_delete = first.images.splice(image_index, 1)
                        console.log("images to delete %o", image_to_delete)

                        DataHandler.deleteImages(image_to_delete).then((removed) => {
                                return DataHandler.addPublicPost(first)
                            }).then((message) => {
                                if (message.error) {
                                    throw message.error
                                } else {
                                    this.fetchPost()
                                }
                            })
                            .catch((err) => {
                                console.log(err)
                            })
                    }
                },
            }
        })
    </script>

</body>

</html>