<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contents</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>

</head>

<body>

    <div class="sidenav" id="header" attr="content">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">

        <!-- editor modal -->
        <div id="evacModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Evacuation Center</h4>
                    </div>
                    <div class="modal-body" v-if="view_item">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.id" :label="header_labels['id']">
                                </entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.name" :label="header_labels['name']">
                                </entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="population_dict[view_item.id] || 0"
                                    label="Current Population"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.population_capacity"
                                    :label="header_labels['population_capacity']"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.floor_space"
                                    :label="header_labels['floor_space']"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="admins_selection[view_item.admin_id]"
                                    :label="header_labels['admin_id']"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.contact_numbers"
                                    :label="header_labels['contact_numbers']"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.category" :label="header_labels['category']">
                                </entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.facilities"
                                    :label="header_labels['facilities']"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <entry-single-component :value="view_item.exact_address"
                                    :label="header_labels['exact_address']"></entry-single-component>
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">
                                    {{header_labels['location']}}:
                                </p>
                                <p class="item-value" style="margin-right: 10px;">
                                    lat: {{view_item.location.lat}}
                                </p>
                                <p class="item-value">
                                    lng: {{view_item.location.lng}}
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">
                                    Date:
                                </p>
                                <div class="row">
                                    <div class="col col-md-4">
                                        Created: {{ formatDate(view_item.date_created)}}
                                    </div>
                                    <div class="col col-md-4">
                                        Updated: {{ formatDate(view_item.date_updated)}}
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <button class="btn btn-default btn-info" href="#evacimagerow"
                                    data-toggle="collapse">view images</button>
                            </li>
                        </ul>
                        <div id="evacimagerow" class="panel-collapse collapse">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col col-md-12"
                                            v-if="!view_item.images || view_item.images.length <= 0">
                                            <p>Images are empty</p>
                                        </div>
                                        <div class="col col-md-2 item-info" v-for="image,index in view_item.images">
                                            <div class="image-area">
                                                <img :src="cdn+image" alt="Preview">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="onSaveItem()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="section">
            <h1>Home</h1>
            <h3 v-if="user.admin_type == 'pdrrmo'">Contents</h3>
            <div class="row selection-grid" v-if="user.admin_type == 'pdrrmo'">
                <div class="col col-md-4 selection-grid-item" v-for="item in selections">
                    <div class="selection-grid-item-content" :style="'background:'+item.color">
                        <a class="selection-grid-item-content-link" :href="item.href">
                            <div class="selection-block">
                                <i class="material-icons selection-icon">{{item.icon}}</i>
                                <h5 class="center">{{item.title}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader-container" v-if="isLoading">
            <div class="loader"></div>
        </div>
        <div class="section" v-if="!isLoading">
            <h3>Municipality: {{user.municipality == '0' ? 'Public' : user.municipality}}</h3>
            <div class="section" v-if="municipality.length > 0">
                <table class="table">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Municipality
                        </th>
                        <th>
                            Current Population
                        </th>
                    </tr>
                    <tr v-for="item,index in muni_list">
                        <td>{{index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.count}}</td>
                    </tr>
                </table>
            </div>
            <h3>Evacuations</h3>
            <div class="section" v-if="evac_list.length > 0">
                <div class="table-container" id="tableData">
                    <table class="table">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                NAME
                            </th>
                            <th>
                                Current Population
                            </th>
                            <th>
                                Maximum Population
                            </th>
                            <th>
                                Floor Space &#13217;
                            </th>
                            <th></th>
                        </tr>
                        <tr v-for="item,index in view_list">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{population_dict[item.id] || 0}}</td>
                            <td>{{item.population_capacity}}</td>
                            <td>{{item.floor_space || 0}}</td>
                            <td><button class="btn btn-default btn-info" v-on:click="viewEvac(index)">view
                                    details</button></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>


    <script src="js/app/app.js"></script>

    <script>
        app = new Vue({
            el: '#content',
            data: {
                user: new AdminUser(),
                admins: [],
                admins_selection: {},
                municipality: [],

                selections: [{
                        id: 'homepage',
                        href: "content_homepage.html",
                        icon: 'web',
                        title: 'Content',
                        color: '#32a852'
                    },
                    {
                        id: 'gallery',
                        href: "content_gallery.html",
                        icon: 'perm_media',
                        title: 'Gallery',
                        color: '#60A244'
                    },
                    {
                        id: 'events',
                        href: "content_events.html",
                        icon: 'today',
                        title: 'Events',
                        color: '#fcba03'
                    },
                    {
                        id: 'documents',
                        href: "content_documents.html",
                        icon: 'article',
                        title: 'Documents',
                        color: '#4287f5'
                    },
                    {
                        id: 'information',
                        href: "content_information.html",
                        icon: 'live_help',
                        title: 'Other Informations',
                        color: '#eb4034'
                    },
                ],

                /* EVACUATIONS */
                population_dict: {},
                muni_list: [],
                
                evac_list: [],
                view_list: [],
                view_item: null,

                headers: Object.keys(EvacuationCenter.headers),
                header_labels: EvacuationCenter.headers,
                evac_data_input: new EvacuationCenter(), //new EvacuationCenter(), 
                evacFormModel: EvacuationCenter.formModel,
                cdn: DataHandlerType.api_host,
                isLoading: false
            },
            methods: {
                onStart() {
                    this.user = header.user
                    this.municipality = this.user.municipality == '0' ? municipalities : [this.user.municipality]
                    //console.log(this.municipality)
                    this.fetchAllAdmins()
                    this.fetchEvacationCenter()
                },

                fetchAllAdmins() {
                    DataHandler.getAdminUsers(this.user.id).then((message) => {
                        this.admins = message.data
                        this.admins.map(admin => {
                            this.admins_selection[admin.id] =
                                `${admin.lastname}, ${admin.firstname}`
                        });
                    }).catch((error) => {
                        console.log(error)
                    })
                }, //fetchAllAdmins

                fetchEvacationCenter() {
                    this.isLoading = true

                    DataHandler.getActivePublicUserHistory(this.user.municipality).then((message) => {

                        var muni_dict = {}

                        this.municipality.forEach((muni) => {
                            muni_dict[muni] = 0
                            //console.log("muni_dict %s %o", muni, muni_dict[muni])
                        })

                        //console.log("log %o", message)

                        message.data.map(data => {
                            this.population_dict[data.evac_id] = this.population_dict[data.evac_id] || 0
                            this.population_dict[data.evac_id]++
                            muni_dict[data.municipality] = muni_dict[data.municipality] || 0 
                            muni_dict[data.municipality]++
                        })

                        let object = Object.keys(muni_dict).map((name) => {
                            return {
                                name,
                                count: muni_dict[name]
                            }
                        })

                        this.muni_list = object.sort((lhs, rhs) => {
                            return rhs.count - lhs.count
                        })

                        console.log(muni_dict)
                        console.log(this.muni_list)
                        console.log(this.population_dict)

                        DataHandler.getEvacuationCenters(this.user.municipality).then((data) => {
                            this.evac_list = data.data
                            this.view_list = data.data

                            console.log("evac_list %o", this.evac_list)
                        }).catch(err => {
                            console.log(err)
                        }).finally(() => {
                            this.isLoading = false
                        })
                    }).catch(err => {
                        console.log(err)
                    })
                }, //fetchEvacationCenter

                viewEvac(index) {
                    this.view_item = this.view_list[index]
                    $('#evacModal').modal();
                }

            }
        })
    </script>

</body>

</html>