<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Donors</title>
    
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    
</head>

<body>
    
    <div class="sidenav" id="header" attr="donors">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>
        
        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>
        
        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">
        <ul class="breadcrumb">
            <li><a href="donors.html">Donors</a></li>
            <li><a href="#">Donors Reports</a></li>
        </ul>
        <!-- MODAL -->
        <div id="editorModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} Donor Report</h4>
                    </div>
                    <div class="modal-body">
                        <form-generator :form="formModel" :input.sync="data_input" ></form-generator>
                        <ol class="list-group">
                            <li class="list-group-item danger">
                                <button type="button" class="btn btn-info" v-on:click="addInputInventory()">Add Item Request</button>
                            </li>
                            
                            <li class="list-group-item" v-for="report,index in data_input.reports">
                                <form-generator :form="formReportModel" :input.sync="report" ></form-generator>
                                <button type="button" class="btn btn-danger" v-on:click="removeInputInventory(index)">Remove</button>
                            </li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="saveReport()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
            </div>
        </div><!-- MODAL -->
        
        <h1>Donors Donation Reports</h1>
        
        <div class="section">
            <!-- Individual -->
            <div class="well" v-if="indv != null">
                <div class="row">
                    <div class="col col-xs-4 item-info" v-for="key,index in indv_headers" v-if="key !='id'">
                        <p class="item-label">
                            {{key}}:
                        </p>
                        <p class="item-value" v-if="key != 'sex'">
                            {{indv[key] || '--'}}
                        </p>
                        <p class="item-value" v-if="key == 'sex'">
                            {{indv[key] == 0 ? 'Male' : 'Female'}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- Individual -->
            <!-- Organization -->
            <div class="well" v-if="org != null">
                <div class="row">
                    <div class="col col-xs-4 item-info" v-for="key,index in org_headers" v-if="key !='id'">
                        <p class="item-label">
                            {{key}}:
                        </p>
                        <p class="item-value">
                            {{org[key] || '--'}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- Organization -->
        </div>
        
        
        <!-- CONTENT -->
        <div class="section">
            <!-- HEADER FILTER -->
            <div class="header-container">
                <div class="well input-container" style="padding:10px; width: 100%; min-height: 70px">
                    <div class="col col-md-1">
                        <p class="input-label">YEAR</p>
                        <select id="input-type" class="input input-select" v-model="filter.year">
                            <option v-for="(item,index) in selections.years" :selected="index == filter.year ? true : false">{{item ? item : "NOT AVAILABLE"}} </option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="input-label">MONTH</p>
                        <select id="input-type" class="input input-select" v-model="filter.month">
                            <option v-for="(item,index) in selections.months" :selected="index == filter.month ? true : false"> {{item}}</option>
                        </select>
                    </div>
                    <div class="col col-md-4">
                        <p class="input-label">EVACUATION CENTER</p>
                        <select id="input-district" class="input input-select" v-model="filter.station">
                            <option :selected="filter.station == 'all' ? true : false">
                                all</option>
                                <option v-for="(item,index) in evac_list"
                                :selected="index == filter.station ? true : false">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col col-md-3">
                        <p class="input-label">MUNICIPAL</p>
                        <select id="input-district" class="input input-select" v-model="filter.municipal">
                            <option :selected="filter.municipal == 'all' ? true : false">all</option>
                            <option v-for="(item,index) in municipalities" :selected="index == filter.municipal ? true : false">{{item.toUpperCase()}}</option>
                        </select>
                    </div>
                    <div class="col col-md-1 button-filter-container">
                        <div>&nbsp;</div>
                        <button type="button" class="btn btn-warning button-view" v-on:click="filterList()">filter</button>
                    </div>
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-info button-view" v-on:click="addReport()">ADD REQUEST REPORT</button>
                    <button type="button" class="btn btn-info button-view" v-on:click="openGenerateReport()">GENERATE REPORT DATA</button>
                </div>
            </div>
            
            <!-- LOADER -->
            <div class="loader_container" v-if="isDataLoading">
                <div class="loader"></div>
            </div>
            
            <!-- TABLE VIEW -->
            <div class="table-container" v-if="!isDataLoading">
                <div class="table" id="tableData">
                    <div class="well" v-for="item,index in reports_view">
                        <div class="row">
                            <div class="col col-md-12 item-info">
                                <p class="item-value">{{index + 1}}.</p>
                            </div>
                            <div class="col col-md-3 item-info " v-for="info,index in header">
                                <div v-if="info == 'evac_id'">
                                    <p class="item-label">EVACUATION NAME</p>
                                    <p class="item-value">{{item.evac_id.isEmpty() ? 'public' : getEvacFromId(item.evac_id).name}}</p>
                                </div>
                                <div v-if="info != 'evac_id'">
                                    <p class="item-label">{{info.replace(/_/g,' ').toUpperCase() +": "}}</p>
                                    <p class="item-value">{{item[info] ? item[info] : 'N/A'}}</p>
                                </div>
                            </div>
                            <div class="col col-md-12">
                                <button class="btn btn-default btn-info" :href="'#requestrow-'+index" data-toggle="collapse">View Request</button>
                                <button class="btn btn-default btn-warning" v-on:click="editReport(index)">edit</button>
                                <button class="btn btn-default btn-danger"
                                v-on:click="deleteItem(index)">delete</button>
                            </div>
                        </div>
                        <div :id="'requestrow-'+index" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-if="item.reports.isEmpty()">
                                        <p>No Request</p>
                                    </li>
                                    
                                    <li class="list-group-item" v-for="report,index in item.reports">
                                        <!-- <img :src="cdn+image" class="img-thumbnail img-grid"/> -->
                                        <div class="row">
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    {{ index + 1 }}. {{supply_types[report.inventory_type].name}}
                                                </p>
                                            </div>
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    QTY: 
                                                </p>
                                                <p class="item-value">
                                                    {{report.qty}}
                                                </p>
                                            </div>
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    remarks: 
                                                </p>
                                                <p class="item-value">
                                                    {{report.remarks}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/app/datahandler.js"></script>
    <script src="js/app/app.js"></script>
    
    <script>
        app = new Vue({
            el: '#content',
            data: {
                user: null,
                evac_list: [],
                reports: [],
                reports_view: [],
                selections: {
                    years: ['all'],
                    months: [
                    'all',
                    'JANUARY',
                    'FEBRUARY',
                    'MARCH',
                    'APRIL',
                    'MAY',
                    'JUNE',
                    'JULY',
                    'AUGUST',
                    'SEPTEMBER',
                    'OCTOBER',
                    'NOVEMBER',
                    'DECEMBER',
                    ],
                    months_only: [
                    'JANUARY',
                    'FEBRUARY',
                    'MARCH',
                    'APRIL',
                    'MAY',
                    'JUNE',
                    'JULY',
                    'AUGUST',
                    'SEPTEMBER',
                    'OCTOBER',
                    'NOVEMBER',
                    'DECEMBER',
                    ],
                    stations: ['']
                },
                filter: {
                    year: 'all',
                    month: 'all',
                    station: 'all',
                    municipal: 'all'
                },
                data_input: new DonorsReport(),
                municipalities: municipalities,
                
                isDataLoading: true,
                isEdit: false,
                
                header      : DonorsReport.headers,
                formModel   : DonorsReport.formModel,
                formReportModel : {},
                
                /* public user */
                org_headers: Object.keys(DonorsOrganization.headers),
                org_formmodel: DonorsOrganization.formModel,
                
                indv_headers: Object.keys(DonorsIndividual.headers),
                indv_formmodel: DonorsIndividual.formModel,
                
                org: null,
                indv: null,
                
                supply_types: {},
                supply_types_option: []
            },
            methods: {
                onStart() {
                    this.user = header.user
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const id = urlParams.get('id') || null
                    this.fetchReports(id)
                    
                    this.formReportModel = {
                        inventory_type: {
                            title: 'Supply Type',
                            type: FormModels.dropdown,
                            options: [] 
                        },
                        qty: {
                            title: 'QTY',
                            type: FormModels.number
                        },
                        remarks: {
                            title: 'Remarks',
                            type: FormModels.textarea
                        }
                    }
                    
                    this.form
                },
                
                fetchReports(id, isAll) {
                    this.setLoading(true)
                    
                    DataHandler.getEvacuationCenters().then((data) => {
                        this.evac_list = data.data
                        this.formModel.evac_id.options = [
                            {
                                title: 'Public',
                                value: ''
                            }
                        ]
                        this.formModel.evac_id.options = this.formModel.evac_id.options.concat(this.evac_list.map((evac) => {
                            return  {
                                title: evac.name,
                                value: evac.id
                            }
                        }))
                        
                    }).catch(err => {
                        console.log("err %o", err)
                    })
                    
                    DataHandler.getSupplyTypes().then((data) => {
                        this.formReportModel.inventory_type.options = data.data.map((supply) => {
                            this.supply_types[supply.id] = supply
                            return {
                                title: supply.name,
                                value: supply.id
                            }
                        })
                    }).catch(err => {
                        console.log("err %o", err)
                    })
                    
                    console.log("user id %o", id)
                    DataHandler.getDonorReports(id).then((message) => {
                        this.setData(message.data)
                    }).catch(error => {
                        console.log(error)
                    }).finally(() => {
                        this.setLoading(false)
                    })
                    
                    if (id) {
                        try {
                            id = id || ""
                            if(id.includes('donororg')) {
                                DataHandler.getDonorOrganizations(id).then((message) => {
                                    console.log("public user %o",message.data)
                                    this.org = message.data
                                }).catch(err => {
                                    console.log(err)
                                })
                            } else {
                                DataHandler.getDonorIndividual(id).then((message) => {
                                    console.log("public user %o",message.data)
                                    this.indv = message.data
                                }).catch(err => {
                                    console.log(err)
                                })
                            }
                        }catch(err) {
                            console.log(err)
                        }
                        
                        
                    }
                    
                    
                },
                
                getEvacFromId(id) {
                    for (var i = 0; i < this.evac_list.length; i++) {
                        if (this.evac_list[i].id == id) {
                            return this.evac_list[i]
                        }
                    }
                    return null
                },
                
                setData: function (data) {
                    console.log("data %o", data)
                    if (data.length > 0) {
                        this.reports = data
                        this.reports_view = this.reports
                        this.getDistinctParams()
                    }
                },
                
                getDistinctParams() {
                    this.selections.years = ['all']
                    this.selections.stations = ['all']
                    
                    this.reports.map((report = new DonorsReport()) => {
                        let date = report.date_created
                        var year = date.getFullYear()
                        //var month = date.getMonth()
                        
                        if (!this.selections.years.includes(year)) {
                            this.selections.years.push(year)
                        }
                    })
                },
                
                setLoading(isLoading) {
                    this.isDataLoading = isLoading
                },
                
                filterList() {
                    //year
                    this.reports_view = this.reports.filter((item = new DonorsReport()) => {
                        let item_year = item.date_created.getFullYear()
                        if (!this.filter.year || this.filter.year == 'all' || this.filter.year ==
                        item_year) {
                            return true
                        } else {
                            return false
                        }
                    })
                    
                    
                    //month
                    
                    let index_selection_month = this.selections.months.indexOf(this.filter.month)
                    console.log("month index %o", index_selection_month)
                    this.reports_view = this.reports_view.filter((item = new DonorsReport()) => {
                        let item_month = item.date_created.getMonth()
                        if (!this.filter.month || this.filter.month == 'all' || item_month ==
                        index_selection_month) {
                            return true
                        } else {
                            return false
                        }
                    })
                    
                    //evacuation center
                    this.reports_view = this.reports_view.filter((item = new DonorsReport()) => {
                        let evac = this.getEvacFromId(item.evac_id)
                        if (!this.filter.station || this.filter.station == 'all' || this.filter
                        .station == evac.name) {
                            return true
                        } else {
                            return false
                        }
                    })
                    
                    //municipalities
                    this.reports_view = this.reports_view.filter((item = new DonorsReport()) => {
                        let evac = this.getEvacFromId(item.evac_id)
                        if (!this.filter.municipal || this.filter.municipal == 'all' || this.filter
                        .municipal.toLowerCase() == evac.municipality.toLowerCase()) {
                            return true
                        } else {
                            return false
                        }
                    })
                    
                    console.log("filtered %o", this.reports_view)
                },
                
                openGenerateReport() {
                    let reports = JSON.stringify(this.reports)
                    saveTextAsFile(reports)
                },
                
                editReport(index) {
                    let string = JSON.stringify(this.reports_view[index].toObject())
                    this.data_input = DonorsReport.parse(JSON.parse(string))
                    this.data_input.date_updated = new Date()
                    this.isEdit = true
                    $('#editorModal').modal()
                },
                
                addReport() {
                    this.data_input = new DonorsReport()
                    //this.data_input.user_id = this.public_user.id

                    if(this.org) {
                        this.data_input.user_id = this.org.id
                    } else {
                        this.data_input.user_id = this.indv.id
                    }

                    this.data_input.created_by = this.user.id
                    this.isEdit = false
                    $('#editorModal').modal()
                },
                
                saveReport() {
                    DataHandler.addDonorsReport(this.data_input).then((data) => {
                        console.log('response %o', data)
                        if (data.error) {
                            throw date.error
                        } else {
                            AlertMessages.success()
                            location.reload()
                        }
                    }).catch(err => {
                        AlertMessages.error(err)
                    })
                },
                
                deleteItem(index) {
                    let id = this.reports_view[index].id
                    let onConfirm = confirm(`delete item id: ${id}`)
                    if (onConfirm) {
                        DataHandler.deleteDonorsReport(id).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                throw data.error
                            } else {
                                AlertMessages.deleted()
                                location.reload()
                            }
                        }).catch(err => {
                            AlertMessages.error(err)
                        })
                    }
                },
                
                addInputInventory(){
                    this.data_input.reports.push({inventory_type: '',qty: 0,remarks: ''})
                },
                
                removeInputInventory(index) {
                    this.data_input.reports.splice(index, 1)
                }
                
            }
        })
    </script>
    
</body>

</html>