<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>History</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>

</head>

<body>

    <div class="sidenav" id="header" attr="history">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">

        <!-- MODAL -->
        <div id="editorModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} Evacuation History</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" v-if="data_input != null">
                            <fieldset>

                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="evacuation_center">Evacuation
                                        Center</label>
                                    <div class="col-md-4">
                                        <select id="evacuation_center" name="evacuation_center" class="form-control"
                                            v-model="data_input.evac_id">
                                            <option v-for="evac in evac_list" v-bind:value="evac.id">
                                                {{evac.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Population</label>
                                    <div class="col-md-4">
                                        <input id="name" name="name" type="text" placeholder="0"
                                            class="form-control input-md" required="" v-model="data_input.name">
                                        <span class="help-block">peek population size</span>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="report_date">Report Date</label>
                                    <div class="col-md-4">
                                        <input id="report_date" name="report_date" type="datetime-local"
                                            class="form-control input-md" v-model="data_input.report_date">
                                        <span class="help-block">date of entry recorded</span>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="saveHistory()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="close()">Close</button>
                    </div>
                </div>

            </div>
        </div><!-- MODAL -->


        <!-- CONTENT -->
        <div class="section">
            <!-- HEADER FILTER -->
            <div class="header-container">
                <h1>Reports</h1>
                <div class="well input-container" style="padding:10px; width: 100%; min-height: 70px">
                    <div class="col col-md-1">
                        <p class="input-label">YEAR</p>
                        <select id="input-type" class="input input-select" v-model="filter.year">
                            <option v-for="(item,index) in selections.years"
                                :selected="index == filter.year ? true : false">{{item
                                                ? item : "NOT AVAILABLE"}}</option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="input-label">MONTH</p>
                        <select id="input-type" class="input input-select" v-model="filter.month">
                            <option v-for="(item,index) in selections.months"
                                :selected="index == filter.month ? true : false">
                                {{item}}</option>
                        </select>
                    </div>
                    <div class="col col-md-4">
                        <p class="input-label">EVACUATION CENTER</p>
                        <select id="input-district" class="input input-select" v-model="filter.station">
                            <option :selected="filter.station == 'all' ? true : false">
                                all</option>
                            <option v-for="(item,index) in evac_list"
                                :selected="index == filter.station ? true : false">
                                {{item.name}}</option>
                        </select>
                    </div>
                    <div class="col col-md-3">
                        <p class="input-label">MUNICIPAL</p>
                        <select id="input-district" class="input input-select" v-model="filter.municipal">
                            <option :selected="filter.municipal == 'all' ? true : false">
                                all</option>
                            <option v-for="(item,index) in municipalities"
                                :selected="index == filter.municipal ? true : false">
                                {{item.toUpperCase()}}</option>
                        </select>
                    </div>
                    <div class="col col-md-1 button-filter-container">
                        <button type="button" class="btn btn-warning button-view button-filter"
                            v-on:click="filterList()">filter
                        </button>
                    </div>

                </div>
                <div class="button-container">
                    <!-- <button type="button" class="btn btn-info button-view" v-on:click="createSampleReport()">
                        create sample
                        report
                    </button> -->
                    <button type="button" class="btn btn-info button-view" v-on:click="addHistory()">
                        add
                        history
                    </button>
                    <button type="button" class="btn btn-info button-view" v-on:click="openGenerateReport()">
                        generate
                        report
                    </button>
                </div>
            </div>

            <!-- LOADER -->
            <div class="loader_container" v-if="isDataLoading">
                <div class="loader"></div>
            </div>

            <!-- TABLE VIEW -->
            <div class="table-container" v-if="!isDataLoading">
                <div class="table" id="tableData">
                    <div class="well" v-for="item,index in reports_view">
                        <div class="row">
                            <div class="col col-md-12 item-info">
                                <p class="item-value">{{index + 1}}.</p>
                            </div>
                            <div class="col col-md-12 item-info">    
                                <p class="item-label">EVACUATION NAME</p>
                                <p class="item-value">{{getEvacFromId(item.evac_id).name}}</p>
                            </div>
                            <div class="col col-md-12">
                                <entry-component :entry="item" :headers="history_header"></entry-container>
                                <!-- <div v-if="info == 'evac_id'">
                                    <p class="item-label">EVACUATION NAME</p>
                                    <p class="item-value">{{getEvacFromId(item.evac_id).name}}</p>
                                </div>
                                <div v-if="info != 'evac_id'">
                                    <p class="item-label">{{info.replace(/_/g,' ').toUpperCase() +": "}}</p>
                                    <p class="item-value">{{item[info] ? item[info] : '--'}}</p>
                                </div> -->
                            </div>
                            <div class="col col-md-12">
                                <button class="btn btn-default btn-info" v-on:click="editItem(index)">edit</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="deleteItem(index)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="js/app/datahandler.js"></script> -->
    <script src="js/app/app.js"></script>
    <script src="js/app/constants.js"></script>
    <script src="../_global/js/moabc/utilities.js"></script>
    <script src="../_global/js/moabc/objects.js"></script>
    <script src="../_global/js/moabc/evacuation.js"></script>
    <script src="../_global/js/moabc/honey.js"></script>
    <script src="../_global/js/moabc/moabc.js"></script>
    <script src="../_global/js/moabc/test.js"></script>

    <script>
        app = new Vue({
            el: '#content',
            data: {
                evac_list: [],
                reports: [],
                reports_view: [],
                history_header: ['created_by','date_created','date_updated','report_date','current_population'],
                selections: {
                    years: ['all'],
                    months: [
                        'all',
                        'JANUARY',
                        'FEBRUARY',
                        'MARCH',
                        'APRIL',
                        'MAY',
                        'JUNE',
                        'JULY',
                        'AUGUST',
                        'SEPTEMBER',
                        'OCTOBER',
                        'NOVEMBER',
                        'DECEMBER',
                    ],
                    months_only: [
                        'JANUARY',
                        'FEBRUARY',
                        'MARCH',
                        'APRIL',
                        'MAY',
                        'JUNE',
                        'JULY',
                        'AUGUST',
                        'SEPTEMBER',
                        'OCTOBER',
                        'NOVEMBER',
                        'DECEMBER',
                    ],
                    stations: ['']
                },
                filter: {
                    year: 'all',
                    month: 'all',
                    station: 'all',
                    municipal: 'all'
                },
                data_input: new EvacuationHistory(),
                municipalities: [],
                isDataLoading: true,
                isEdit: false,
                header: []
            },
            methods: {
                onStart() {
                    this.fetchReports()
                    this.municipalities = municipalities
                },
                fetchReports() {
                    this.setLoading(true)

                    DataHandler.getEvacuationCenters().then((data) => {
                        this.evac_list = data.data
                    }).catch(err => {
                        console.log("err %o", err)
                    })

                    DataHandler.getEvacuationHistory().then((message) => {
                        this.setData(message.data)
                    }).catch(error => {
                        console.log(error)
                    }).finally(() => {
                        this.setLoading(false)
                    })

                },

                getEvacFromId(id) {
                    for (var i = 0; i < this.evac_list.length; i++) {
                        if (this.evac_list[i].id == id) {
                            return this.evac_list[i]
                        }
                    }
                    return null
                },

                setData: function (data) {
                    console.log("data %o", data)
                    if (data.length > 0) {
                        this.header = Object.keys(data[0])
                        this.reports = data
                        this.reports_view = this.reports
                        this.getDistinctParams()
                    }
                },

                createSampleReport() {
                    var reports = []
                    let year = [2018, 2019, 2020]
                    this.evac_list.forEach((evac = new EvacuationHistory()) => {
                        year.forEach((year) => {
                            this.selections.months_only.forEach((month, index) => {
                                let samplePop = getRandomValue(evac
                                    .population_capacity / 2, evac
                                    .population_capacity)
                                let date = new Date(year, (index + 1), 1);
                                let history = new EvacuationHistory(null, evac.id,
                                    samplePop, 0, date, null)
                                reports.push(history)
                            })
                        })
                    });
                    DataHandler.setDataEvacuationHistory(reports).then((data) => {
                        alert("added reports")
                        this.fetchReports()
                    }).catch((err) => {
                        console.log("error")
                    })
                },

                getDistinctParams() {
                    this.selections.years = ['all']
                    this.selections.stations = ['all']

                    this.reports.map((report = new EvacuationHistory()) => {
                        let date = report.report_date
                        var year = date.getFullYear()
                        //var month = date.getMonth()

                        if (!this.selections.years.includes(year)) {
                            this.selections.years.push(year)
                        }

                        /* if (!this.selections.stations.includes(report.evac_id)) {
                            this.selections.stations.push(report.evac_id)
                        } */
                    })


                },

                setLoading(isLoading) {
                    this.isDataLoading = isLoading
                },

                filterList() {
                    //year
                    this.reports_view = this.reports.filter((item = new EvacuationHistory()) => {
                        let item_year = item.report_date.getFullYear()
                        if (!this.filter.year || this.filter.year == 'all' || this.filter.year ==
                            item_year) {
                            return true
                        } else {
                            return false
                        }
                    })


                    //month

                    let index_selection_month = this.selections.months.indexOf(this.filter.month)
                    console.log("month index %o", index_selection_month)
                    this.reports_view = this.reports_view.filter((item = new EvacuationHistory()) => {
                        let item_month = item.report_date.getMonth()
                        if (!this.filter.month || this.filter.month == 'all' || item_month ==
                            index_selection_month) {
                            return true
                        } else {
                            return false
                        }
                    })

                    //evacuation center
                    this.reports_view = this.reports_view.filter((item = new EvacuationHistory()) => {
                        let evac = this.getEvacFromId(item.evac_id)
                        if (!this.filter.station || this.filter.station == 'all' || this.filter
                            .station == evac.name) {
                            return true
                        } else {
                            return false
                        }
                    })

                    //municipalities
                    this.reports_view = this.reports_view.filter((item = new EvacuationHistory()) => {
                        let evac = this.getEvacFromId(item.evac_id)
                        if (!this.filter.municipal || this.filter.municipal == 'all' || this.filter
                            .municipal.toLowerCase() == evac.municipality.toLowerCase()) {
                            return true
                        } else {
                            return false
                        }
                    })

                    console.log("filtered %o", this.reports_view)
                },

                openGenerateReport() {
                    let reports = JSON.stringify(this.reports)
                    saveTextAsFile(reports)
                },

                editItem(index) {
                    this.data_input = EvacuationHistory.parse(this.reports_view[index].toObject())
                    this.isEdit = true
                    $('#editorModal').modal()
                },

                addHistory() {
                    this.data_input = new EvacuationHistory()
                    this.isEdit = false
                    $('#editorModal').modal()
                },

                saveHistory() {
                    this.data_input.report_date = new Date(this.data_input.report_date)
                    if (!this.isEdit) {
                        this.data_input.created_by = header.user.id
                    }

                    DataHandler.addEvacuationHistory(this.data_input).then((data) => {
                        console.log('response %o', data)
                        if (data.error) {
                            alert("error " + data.error)
                        } else {
                            alert("item deleted successfuly")
                            this.fetchReports()
                        }
                    }).catch(err => {
                        console.log(err)
                    }).finally(() => {
                        this.data_input = new EvacuationHistory()
                    })
                },

                deleteItem(index) {
                    let id = this.reports_view[index].id
                    let onConfirm = confirm(`delete item id: ${id}`)
                    if (onConfirm) {
                        DataHandler.deleteEvacuationHistory(id).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                alert("error " + data.error)
                            } else {
                                alert("item deleted successfuly")
                                this.fetchReports()
                            }
                        })
                    }
                },


            }
        })
    </script>

</body>

</html>