<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inventory</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
</head>

<body>
    <div class="sidenav" id="header" attr="inventory">
        <div class="sidenav-item">
            <img class="nav-image" :src="logo" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editorModal">Open Modal</button> -->
    <div class="container" id="content">
        <!-- Supply modal -->
        <div id="supplyModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Inventory Supply</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" v-if="supply_input != null">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="inventory_type">Supply Type</label>
                                    <div class="col-md-4">
                                        <select id="inventory_type" name="inventory_type" class="form-control"
                                            v-model="supply_input.inventory_type">
                                            <option v-for="type in supply_types" v-bind:value="type.id">
                                                {{type.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="qty">Qty</label>
                                    <div class="col-md-4">
                                        <input id="name" name="qty" type="number" placeholder="Quantity"
                                            class="form-control input-md" required="" v-model="supply_input.qty">
                                        <span class="help-block">Enter Quantity Stored</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="report_date">Date Supplied</label>
                                    <div class="col-md-4">
                                        <input id="report_date" name="report_date" type="datetime-local"
                                            class="form-control input-md" v-model="supply_input.date_supplied">
                                        <span class="help-block">date supplied</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Remarks</label>
                                    <div class="col-md-4">
                                        <textarea id="name" name="name" type="text" placeholder="Remarks/Notes .... "
                                            class="form-control input-md" required="" v-model="supply_input.remarks"></textarea>
                                        <span class="help-block">Enter Any Remarks</span>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="onSaveSupplyItem()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Inventory Modal -->
        <div id="inventoryModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Inventory</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" v-if="inventory_input != null">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Name</label>
                                    <div class="col-md-4">
                                        <input id="name" name="name" type="text" placeholder="Name"
                                            class="form-control input-md" required="" v-model="inventory_input.name">
                                        <span class="help-block">Enter Name</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="description">Description</label>
                                    <div class="col-md-4">
                                        <textarea id="description" name="description" type="text" placeholder="Description .... "
                                            class="form-control input-md" required="" v-model="inventory_input.description"></textarea>
                                        <span class="help-block">Enter Description</span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="onSaveInventory()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Supply Type -->
        <div id="typeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Supply Types</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" v-if="supply_type_input != null">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Name</label>
                                    <div class="col-md-4">
                                        <input id="name" name="name" type="text" placeholder="Name"
                                            class="form-control input-md" required="" v-model="supply_type_input.name">
                                        <span class="help-block">Enter Name</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="qty">Unit Count</label>
                                    <div class="col-md-4">
                                        <input id="name" name="qty" type="number" placeholder="Unit Count"
                                            class="form-control input-md" required="" v-model="supply_type_input.amount">
                                        <span class="help-block"># of items per pack</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="description">Description</label>
                                    <div class="col-md-4">
                                        <textarea id="description" name="description" type="text" placeholder="Description .... "
                                            class="form-control input-md" required="" v-model="supply_type_input.description"></textarea>
                                        <span class="help-block">Enter Description</span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="onSaveSupplyType()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="subcontent">
            <div class="section header">
                <h1>Inventory Details</h1>
            </div>

            <div class="section">
                <div class="well">
                    <div class="section header">
                        <h4>Inventory</h4>
                    </div>

                    <div class="loader" v-if="loading.isInventory"></div>

                    <div class="row" v-if="!loading.isInventory">
                        <div class="col col-md-12">
                            <p class="item-value">
                                name: {{inventory.name}}
                            </p>
                            <p class="item-value">
                                description: {{inventory.description}}
                            </p>
                            <p class="item-value">
                                date created: {{inventory.date_created}}
                            </p>
                            <p class="item-value">
                                created by: {{inventory.created_by}}
                            </p>
                        </div>

                        <div class="col col-md-12">
                            <button class="btn btn-default btn-info" v-on:click="editInventory()">edit</button>
                            <button class="btn btn-default btn-danger" v-on:click="deleteInventory()">delete</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="section" >
                <div class="section header">
                    <h4>Supplies</h4>
                </div>
                <div class="loader-container" v-if="loading.isSupply">
                    <div class="loader"></div>
                </div>
                <div class="table-container" id="tableData" v-if="supplies.length > 0">
                    <div class="well" v-for="item,index in supplies">
                        <div class="row">
                            <div class="col col-md-2 item-info">
                                <p class="item-label">
                                    {{index + 1}}.
                                </p>
                                <p class="item-label">
                                    Name:
                                </p>
                                <p class="item-value">
                                    {{item.name}}
                                </p>
                            </div>
                            <div class="col col-md-2 item-info">
                                <p class="item-label">
                                    Quantity:
                                </p>
                                <p class="item-value">
                                    {{item.qty}}
                                </p>
                            </div>
                            <div class="col col-md-2 item-info">
                                <p class="item-label">
                                    Date Supplied:
                                </p>
                                <p class="item-value">
                                    {{item.date_supplied}}
                                </p>
                            </div>
                            <div class="col col-md-12 item-info">
                                <p class="item-label">
                                    Remarks:
                                </p>
                                <p class="item-value">
                                    {{item.remarks}}
                                </p>
                            </div>

                            <div class="col col-md-12">
                                <button class="btn btn-default btn-info" v-on:click="editSupplyItem(index)">edit</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="onDeleteSupplyItem(index)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <button type="button" id="add-report" class="btn btn-info button-view" v-on:click="addSupplyItem()">Add New
                    Supply
                </button>
                <button type="button" id="add-report" class="btn btn-warning button-view" v-on:click="addSupplyType()">Add New
                    Supply Type
                </button>
                <button type="button" id="add-report" class="btn btn-success button-view" v-on:click="generateReport()">
                    Generate Report
                </button>
            </div>

            <div class="section" >
                <div class="section header" v-if="supply_types.length > 0">
                    <h4>Supplies</h4>
                </div>
                <div class="loader-container" v-if="loading.isSupplyType">
                    <div class="loader"></div>
                </div>
                <div class="table-container" id="tableData" v-if="supply_types.length > 0">
                    <div class="well" v-for="item,index in supply_types">
                        <div class="row" >
                            <div class="col col-md-2 item-info">
                                <p class="item-label">
                                    {{index + 1}}.
                                </p>
                                <p class="item-label">
                                    Name:
                                </p>
                                <p class="item-value" v-if="supply_types_ref[item.inventory_type] != undefined">
                                    {{supply_types_ref[item.inventory_type].name}}
                                </p>
                            </div>
                            <div class="col col-md-2 item-info">
                                <p class="item-label">
                                    Amount:
                                </p>
                                <p class="item-value">
                                    {{item.amount}}
                                </p>
                            </div>
                            <div class="col col-md-3 item-info">
                                <p class="item-label">
                                    Description:
                                </p>
                                <p class="item-value">
                                    {{item.description}}
                                </p>
                            </div>
                           

                            <div class="col col-md-4">
                                <button class="btn btn-default btn-info" v-on:click="editSupplyType(index)">edit</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="onDeleteSupplyType(index)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/app/datahandler.js"></script>
    <script src="js/app/constants.js"></script>
    <script src="js/app/app.js"></script>

    <script>
        app = new Vue({
            el: '#content',
            data: {
                user              : new AdminUser(),
                inventory         : new EvacuationInventory(),
                supplies          : [],
                supply_types      : [],
                supply_types_ref  : {},
                inventory_input   : null,
                supply_input      : null,
                supply_type_input : null,
                isedit            : false,
                municipalities    : municipalities,
                /* isloadinginventory: false,
                loading.isSupply : false, */
                loading           : {
                    isInventory : false,
                    isSupply    : false,
                    isSupplyType: false
                },

                supply_header       : [],
                supply_type_header  : []
            },
            methods: {
                onStart() {
                    let link = window.location.href
                    let id = link.split("=")[1]
                    this.user = header.user
                    this.fetchInventory(id)
                },

                fetchInventory(id) {
                    this.loading.isInventory = true
                    this.loading.isSupply = true
                    DataHandler.getInventory(id).then((data) => {
                        this.setInventory(data.data)
                        this.loading.isInventory = false
                    }).catch(err => {
                        console.log(err)
                        this.loading.isInventory = false
                    })

                    this.fetchSupplyType()
                },

                setInventory(data) {
                    this.inventory = data
                    this.fetchSupply()
                },

                fetchSupply() {
                    this.loading.isSupply = false
                    DataHandler.getSupplies([this.inventory.id]).then((message) => {
                        this.supplies = message.data[0].supplies
                        this.loading.isSupply = false
                    }).catch(err => {
                        this.loading.isSupply = false
                        console.log(err)
                    })
                },

                fetchSupplyType(){
                    this.loading.isSupplyType = true
                    DataHandler.getSupplyTypes().then((data) => {
                        this.supply_types = data.data || []
                        this.loading.isSupplyType = false
                        console.log("supply types %o", this.supply_types)

                        this.supply_types.forEach(type => {
                            this.supply_types_ref[type.id] = type
                        });

                    }).catch(err =>{
                        console.log(err)
                        this.loading.isSupplyType = false
                    })
                },

                /*!!=============== INVENTORY ===============!!!*/
                editInventory() {
                    this.inventory_input = EvacuationInventory.parse(this.inventory.toObject())
                    $('#inventoryModal').modal()
                },

                onSaveInventory() {
                    console.log("data %o", this.inventory_input)
                    DataHandler.addInventory(this.inventory_input).then((data) => {
                        if (data.error) {
                            alert(`Can't Persist Item ${data.error}`)
                        } else {
                            alert(`Item Have Been Persisted Successfuly`)
                            let id = this.inventory_input.id
                            this.inventory_input = new EvacuationInventory()
                            this.fetchInventory(id)
                        }
                    })
                },

                onDeleteInventory() {
                    const id = this.inventory.id
                    let onConfirm = confirm('Deleting Item\nPress confirm to proceed')
                    if (onConfirm) {
                        DataHandler.deleteInventory(id).then((data) => {
                            console.log(data)
                            if (data.error) {
                                alert(`Can't Delete Item ${data.error}`)
                            } else {
                                alert(`Item Have Been Deleted Successfuly`)
                                window.close()
                            }
                        })
                    }
                },
                /*!!=============== INVENTORY ===============!!!*/

                /*!!=============== SUPPLY ===============!!!*/
                addSupplyItem() {
                    this.supply_input = new EvacuationSupply()
                    this.supply_input.inventory_id = this.inventory.id
                    this.supply_input.created_by = this.user.id
                    this.isEdit = false
                    $('#supplyModal').modal()
                },

                editSupplyItem(index) {
                    let supply = this.supplies[index]
                    this.supply_input = EvacuationSupply.parse(supply.toObject())
                    $('#supplyModal').modal()
                },

                onSaveSupplyItem() {
                    console.log("data %o", this.supply_input)
                    DataHandler.addSupply(this.supply_input).then((data) => {
                        if (data.error) {
                            alert(`Can't Persist Item ${data.error}`)
                        } else {
                            alert(`Item Have Been Persisted Successfuly`)
                            this.supply_input = new EvacuationSupply()
                            this.fetchSupply()
                        }
                    })
                },

                onDeleteSupplyItem(id) {
                    let onConfirm = confirm('Deleting Item\nPress confirm to proceed')
                    if (onConfirm) {
                        DataHandler.deleteSupply(id).then((data) => {
                            console.log(data)
                            if (data.error) {
                                alert(`Can't Delete Item ${data.error}`)
                            } else {
                                alert(`Item Have Been Deleted Successfuly`)
                                this.fetchSupply()
                            }
                        })
                    }
                },
                /*!!=============== SUPPLY ===============!!!*/

                /*!!=============== SUPPLY-TYPE ===============!!!*/
                addSupplyType() {
                    this.supply_type_input = new EvacuationSupplyType()
                    this.supply_type_input.inventory_id = this.inventory.id
                    this.supply_type_input.created_by = this.user.id
                    this.isEdit = false
                    $('#typeModal').modal()
                },

                editSupplyType(index) {
                    let supply = this.supply_types[index]
                    this.supply_type_input = EvacuationSupplyType.parse(supply.toObject())
                    $('#typeModal').modal()
                },

                onSaveSupplyType() {
                    console.log("data %o", this.supply_type_input)
                    DataHandler.addSupplyType(this.supply_type_input).then((data) => {
                        if (data.error) {
                            alert(`Can't Persist Item ${data.error}`)
                        } else {
                            alert(`Item Have Been Persisted Successfuly`)
                            this.supply_type_input = new EvacuationSupplyType()
                            this.fetchSupplyType()
                        }
                    })
                },

                onDeleteSupplyType(id) {
                    let onConfirm = confirm('Deleting Item\nPress confirm to proceed')
                    if (onConfirm) {
                        DataHandler.deleteSupplyType(id).then((data) => {
                            console.log(data)
                            if (data.error) {
                                alert(`Can't Delete Item ${data.error}`)
                            } else {
                                alert(`Item Have Been Deleted Successfuly`)
                                this.fetchSupplyType()
                            }
                        })
                    }
                },
                /*!!=============== SUPPLY-TYPE ===============!!!*/


                generateReport() {
                    let text = JSON.stringify(this.evac_list)
                    saveTextAsFile(text)
                }

            }
        })

        ///generates a file of json contains
        function saveTextAsFile(text) {
            const textToWrite = text
            const textFileAsBlob = new Blob([textToWrite], {
                type: 'text/plain'
            });
            const fileNameToSaveAs = "coordinates.json" //document.getElementById("").value;
            let downloadLink = document.createElement("a");
            downloadLink.download = fileNameToSaveAs;
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null) {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            } else {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = destroyClickedElement;
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }

            downloadLink.click();
        } //saveTextAsFile
    </script>

</body>

</html>