<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>
</head>

<body>

    <div class="sidenav" id="header" attr="users">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">
        <ul class="breadcrumb">
            <li><a href="users.html">Users</a></li>
            <li><a href="#">User Reports</a></li>
        </ul>
        <!-- MODAL -->
        <div id="editorModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} User Request Report</h4>
                    </div>
                    <div class="modal-body">
                        <form-generator :form="formModel" :input.sync="data_input"></form-generator>
                        <ol class="list-group">
                            <li class="list-group-item danger">
                                <button type="button" class="btn btn-info" v-on:click="addInputInventory()">Add Item
                                    Request</button>
                            </li>

                            <li class="list-group-item" v-for="report,index in data_input.reports">
                                <form-generator :form="formReportModel" :input.sync="report"></form-generator>
                                <button type="button" class="btn btn-danger"
                                    v-on:click="removeInputInventory(index)">Remove</button>
                            </li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="saveReport()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL -->

        <update-status-modal :input.sync="data_input" v-on:persist="saveReport"></update-status-modal>
        <h1>Public User Reports</h1>

        <div class="section">
            <div class="well" v-if="public_user != null">
                <div class="row">
                    <div class="col col-md-12">
                        <entry-component :entry="public_user" :labels="public_user_labels"
                            :headers="public_user_headers"></entry-component>
                    </div>

                    <div class="col col-md-12">
                        <button class="btn btn-default btn-info" href="#dependentrow" data-toggle="collapse">View
                            Dependents</button>
                    </div>
                </div>

                <div id="dependentrow" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-if="!public_user.dependents || public_user.dependents.length <= 0">
                                <p>No Dependents</p>
                            </li>

                            <li class="list-group-item" v-for="dependent,index in public_user.dependents">
                                <div class="row">
                                    <div class="col col-md-4 item-info" v-for="key,index in dependentsHeaders"
                                        v-if="key !='id'">
                                        <p class="item-label">
                                            {{public_user_formModel[key].title}}:
                                        </p>
                                        <p class="item-value" v-if="key != 'sex'">
                                            {{dependent[key] || '--'}}
                                        </p>
                                        <p class="item-value" v-if="key == 'sex'">
                                            {{dependent[key] == 0 ? 'Male' : 'Female'}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- CONTENT -->
            <div class="section">
                <!-- HEADER FILTER -->
                <div class="header-container">
                    <filter-component :filter_add="filter_add" v-on:filter="onFilterReport($event)"
                        v-on:search="onSearchReport($event)" v-on:cancel="onCancelSearchReport($event)"
                        v-on:clear="onClearFilterReport()">
                    </filter-component>
                    <div class="button-container">
                        <!-- <button type="button" class="btn btn-info button-view" v-on:click="addReport()">ADD REQUEST
                            REPORT</button> -->
                        <button type="button" class="btn btn-info button-view" v-on:click="onGenerateReport()">GENERATE
                            REPORT DATA</button>
                    </div>
                </div>

                <!-- LOADER -->
                <div class="loader_container" v-if="isDataLoading">
                    <div class="loader"></div>
                </div>

                <!-- TABLE VIEW -->
                <div class="table-container" v-if="!isDataLoading">
                    <div class="table" id="tableData">
                        <div class="well" v-for="item,index in reports_view">
                            <div class="row">
                                <div class="col col-md-12 item-info">
                                    <p class="item-value">{{index + 1}}.</p>
                                </div>
                                <div class="col col-md-3 item-info " v-for="info,index in header">
                                    <div v-if="info == 'evac_id'">
                                        <p class="item-label">EVACUATION NAME</p>
                                        <p class="item-value">
                                            {{item.evac_id.isEmpty() ? 'public' : getEvacFromId(item.evac_id).name}}</p>
                                    </div>
                                    <entry-single-component v-if="info != 'evac_id'" :label="info" :value="item[info]">
                                    </entry-single-component>
                                </div>

                                <basic-user-component v-if="getUserFromId(item.user_id)" :index="index"
                                    :user="getUserFromId(item.user_id)" :cdn="cdn">
                                </basic-user-component>

                                <div class="col col-md-12">
                                    <button class="btn btn-default btn-info" :href="'#requestrow-'+index"
                                        data-toggle="collapse">view details</button>
                                    <button class="btn btn-default btn-warning"
                                        v-on:click="editReport(index)">edit</button>
                                    <button class="btn btn-default btn-warning" v-on:click="editStatus(index)">update
                                        status</button>
                                    <button class="btn btn-default btn-danger"
                                        v-on:click="deleteItem(index)">delete</button>
                                </div>
                            </div>
                            <div :id="'requestrow-'+index" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" v-if="item.reports.isEmpty()">
                                            <p>No Request</p>
                                        </li>

                                        <li class="list-group-item" v-for="report,index in item.reports">
                                            <div class="row">
                                                <div class="col col-md-12 item-info">
                                                    <p class="item-label">
                                                        {{ index + 1 }}. {{supply_types[report.inventory_type].name}}
                                                    </p>
                                                </div>
                                                <div class="col col-md-12 item-info">
                                                    <p class="item-label">
                                                        QTY:
                                                    </p>
                                                    <p class="item-value">
                                                        {{report.qty}}
                                                    </p>
                                                </div>
                                                <div class="col col-md-12 item-info">
                                                    <p class="item-label">
                                                        remarks:
                                                    </p>
                                                    <p class="item-value">
                                                        {{report.remarks}}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/app/app.js"></script>

        <script>
            app = new Vue({
                el: '#content',
                data: {
                    user: null,
                    isAll: false,
                    isPending: false,

                    evac_list: [],
                    evac_dict: {},
                    evac_names: {},

                    reports: [],
                    reports_view: [],

                    data_input: new PublicUserReport(),
                    municipalities: municipalities,

                    isDataLoading: true,
                    isEdit: false,

                    header: PublicUserReport.headers,
                    formModel: PublicUserReport.formModel,
                    formReportModel: {},

                    /* public user */
                    public_user_formModel: PublicUser.formModel,
                    public_user_labels: PublicUser.headers,
                    public_user_headers: PublicUser.visiblekeys,
                    dependentsHeaders: DependentUser.formDependent,

                    public_user: null,
                    public_user_dict: {},

                    supply_types: {},
                    supply_types_option: [],

                    filter_add: {
                        evacuation: [],
                        status: ['all', ...Object.keys(SupplyStatus)],
                        item_type: []
                    }

                },
                methods: {
                    onStart() {
                        this.user = header.user
                        const queryString = window.location.search;
                        const urlParams = new URLSearchParams(queryString);
                        const id = urlParams.get('id') || null
                        this.isPending = urlParams.get('pending') || false

                        this.isAll = id == null

                        this.fetchReports(id)

                        this.formReportModel = {
                            inventory_type: {
                                title: 'Supply Type',
                                type: FormModels.dropdown,
                                options: []
                            },
                            qty: {
                                title: 'QTY',
                                type: FormModels.number
                            },
                            remarks: {
                                title: 'Remarks',
                                type: FormModels.textarea
                            }
                        }

                    },

                    fetchReports(id, isAll) {
                        let promiseEvac = DataHandler.getEvacuationCenters()
                        let promiseSuppType = DataHandler.getSupplyTypes()

                        this.isDataLoading = true

                        Promise.all([promiseEvac, promiseSuppType]).then((messages) => {
                            console.log("promises 1:%o 2:%o", messages[0], messages[1])

                            this.evac_list = messages[0].data
                            this.filter_add.evacuation = ['all']

                            this.formModel.evac_id.options = this.evac_list.map((evac) => {
                                this.evac_dict[evac.id] = evac
                                this.evac_names[evac.name] = evac.id
                                this.filter_add.evacuation.push(evac.name)
                                return {
                                    title: evac.name,
                                    value: evac.id
                                }
                            })

                            this.supply_types_option = []
                            this.filter_add.item_type = ['all']
                            this.supply_types_option = messages[1].data.map((supply) => {
                                this.supply_types[supply.id] = supply
                                this.filter_add.item_type.push(supply.name)
                                return {
                                    title: supply.name,
                                    value: supply.id
                                }
                            })

                            this.formReportModel.inventory_type.options = this.supply_types_option

                        }).catch(err => {
                            console.log("err %o", err)
                        }).finally(() => {
                            console.log("public user id %o", id)

                            DataHandler.getPublicUserReports(id)
                                .then((message) => {
                                    if (this.isPending) {
                                        return message.data.filter((item) => {
                                            return item.status == SupplyStatus.pending
                                        })
                                    }
                                    return message.data
                                })
                                .then((list) => {
                                    console.log("evac_dict %o", this.evac_dict)
                                    this.reports = []
                                    this.reports = list
                                    this.reports_view = this.reports
                                    console.log("reports view %o", this.reports_view)
                                }).catch(err => {
                                    console.log("err %o", err)
                                }).finally(() => {
                                    console.log("hey im")
                                    this.isDataLoading = false
                                })
                        })



                        if (id) {
                            DataHandler.getPublicUsers(null, id).then((message) => {
                                console.log("public user %o", message.data)
                                this.public_user = message.data
                                this.public_user_headers = PublicUser.visiblekeys
                            }).catch(err => {
                                console.log(err)
                            })
                        } else {
                            DataHandler.getPublicUsers(this.user.municipality).then((message) => {
                                message.data.forEach((user) => {
                                    this.public_user_dict[user.id] = user
                                })
                            }).catch(err => {
                                console.log(err)
                            })
                        }


                    },

                    getEvacFromId(id) {
                        return this.evac_dict[id]
                    },

                    getUserFromId(id) {
                        return this.public_user_dict[id]
                    },

                    editReport(index) {
                        let string = JSON.stringify(this.reports_view[index].toObject())
                        this.data_input = PublicUserReport.parse(JSON.parse(string))
                        this.data_input.date_updated = new Date()
                        this.isEdit = true
                        $('#editorModal').modal()
                    },

                    editStatus(index) {
                        let string = JSON.stringify(this.reports_view[index].toObject())
                        this.data_input = PublicUserReport.parse(JSON.parse(string))
                        this.data_input.date_updated = new Date()
                        this.isEdit = true
                        $('#updateStatusModal').modal()
                    },

                    addReport() {
                        this.data_input = new PublicUserReport()
                        //this.data_input.user_id     = this.public_user.id
                        this.data_input.created_by = this.user.id
                        this.isEdit = false
                        $('#editorModal').modal()
                    },

                    saveReport() {
                        DataHandler.addPublicUserReport(this.data_input).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                throw date.error
                            } else {
                                AlertMessages.success()
                                location.reload()
                            }
                        }).catch(err => {
                            AlertMessages.error(err)
                        })
                    },

                    deleteItem(index) {
                        let id = this.reports_view[index].id
                        let onConfirm = confirm(`delete item id: ${id}`)
                        if (onConfirm) {
                            DataHandler.deletePublicUserReport(id).then((data) => {
                                console.log('response %o', data)
                                if (data.error) {
                                    throw data.error
                                } else {
                                    AlertMessages.deleted()
                                    location.reload()
                                }
                            }).catch(err => {
                                AlertMessages.error(err)
                            })
                        }
                    },

                    addInputInventory() {
                        this.data_input.reports.push({
                            inventory_type: '',
                            qty: 0,
                            remarks: ''
                        })
                    },

                    removeInputInventory(index) {
                        this.data_input.reports.splice(index, 1)
                    },


                    //----------REPORT FILTERS----------------!>
                    /* FILTER / SEARCH */
                    onFilterReport(filter) {
                        console.log("filter %o", filter)

                        var view_list = this.reports.filter((data) => {
                            let date_created = new Date(data.date_created)
                            let date_updated = new Date(data.date_updated)
                            let evac = this.evac_dict[data.evac_id] || new EvacuationCenter()

                            return (
                                (filter.year == 'all' ||
                                    filter.year == date_created.getFullYear() ||
                                    filter.year == date_updated.getFullYear()
                                ) &&
                                (filter.month == 'all' ||
                                    filter.month == (months_array[date_created.getMonth()] || 0) ||
                                    filter.month == (months_array[date_updated.getMonth()] || 0)
                                ) &&
                                (filter.municipality == 'all' ||
                                    (filter.municipality == evac.municipality))
                            )
                        });

                        view_list = view_list.filter((data) => {
                            return (filter.status == 'all' ||
                                filter.status == data.status
                            )
                        })

                        view_list = view_list.filter((data) => {
                            let evac_name = filter.evacuation

                            if (evac_name == 'all') {
                                return true
                            }

                            if (evac_name == 'public' && data.evac_id == "") {
                                console.log("report %o", data)
                                return true
                            } else if (data.evac_id == "") {
                                return false
                            }

                            let data_evac = this.evac_dict[data.evac_id].name
                            return data_evac == evac_name
                        })

                        view_list = view_list.filter((data) => {
                            let supplies = data.reports.map((report) => {
                                return this.supply_types[report.inventory_type].name.trim()
                                    .toLowerCase()
                            })
                            console.log("data %o -- %o", data, supplies)
                            return (filter.item_type == 'all' || supplies.includes(filter.item_type
                                .toLowerCase()))
                        })

                        this.reports_view = view_list
                    },

                    onSearchReport(filter) {
                        this.onFilterReport(filter)

                        this.reports_view = this.reports_view.filter((data) => {
                            let user = this.isAll ? this.public_user_dict[data.user_id] : this
                                .public_user //this.donor_ref[data.user_id]
                            var object = {
                                ...data.toObject(),
                                ...user
                            }
                            let evac = this.evac_dict[data.evac_id]
                            object['evac_name'] = evac ? evac.name : "public"
                            object['municipal'] = evac ? evac.municipal : "public"
                            console.log("object search %o", object)
                            let search = SearchObject(object, filter.searchTerm)

                            let item_search = data.reports.filter((report) => {
                                return SearchObject(report)
                            })
                            return !item_search.isEmpty() || search
                        })
                    },

                    onCancelSearchReport(filter) {
                        this.onFilterReport(filter)
                    },

                    onClearFilterReport() {
                        this.reports_view = [...this.reports]
                    },

                    onGenerateReport() {
                        let csv = ConvertToCSV(this.reports_view)
                        saveTextAsFile('public_user_reports.csv', csv)
                    },

                }
            })
        </script>

</body>

</html>