<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>
</head>

<body>

    <div class="sidenav" id="header" attr="users">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">
        <ul class="breadcrumb">
            <li><a href="users.html">Users</a></li>
            <li><a href="#">User History</a></li>
        </ul>
        <!-- MODAL -->
        <div id="editorModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} User History</h4>
                    </div>
                    <div class="modal-body">
                        <form-generator :form="formModel" :input.sync="data_input"></form-generator>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="saveHistory()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL -->

        <h1>Public User History</h1>

        <div class="section">
            <div class="well">
                <div class="row">
                    <div class="col col-md-12">
                        <entry-component :entry="public_user" :headers="public_user_headers"></entry-component>
                    </div>

                    <div class="col col-md-12">
                        <button class="btn btn-default btn-info" href="#dependentrow" data-toggle="collapse">View
                            Dependents</button>
                    </div>
                </div>

                <div id="dependentrow" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-if="!public_user.dependents || public_user.dependents.length <= 0">
                                <p>No Dependents</p>
                            </li>

                            <li class="list-group-item" v-for="dependent,index in public_user.dependents">
                                <entry-component :entry="dependent" :headers="dependentsHeaders"></entry-component>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="section">
            <!-- HEADER FILTER -->
            <!-- <div class="header-container">
                <div class="well input-container" style="padding:10px; width: 100%; min-height: 70px">
                    <div class="col col-md-1">
                        <p class="input-label">YEAR</p>
                        <select id="input-type" class="input input-select" v-model="filter.year">
                            <option v-for="(item,index) in selections.years"
                                :selected="index == filter.year ? true : false">{{item
                            ? item : "NOT AVAILABLE"}}</option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="input-label">MONTH</p>
                        <select id="input-type" class="input input-select" v-model="filter.month">
                            <option v-for="(item,index) in selections.months"
                                :selected="index == filter.month ? true : false">
                                {{item}}</option>
                        </select>
                    </div>
                    <div class="col col-md-4">
                        <p class="input-label">EVACUATION CENTER</p>
                        <select id="input-district" class="input input-select" v-model="filter.station">
                            <option :selected="filter.station == 'all' ? true : false">
                                all</option>
                            <option v-for="(item,index) in evac_list"
                                :selected="index == filter.station ? true : false">
                                {{item.name}}</option>
                        </select>
                    </div>
                    <div class="col col-md-3">
                        <p class="input-label">MUNICIPAL</p>
                        <select id="input-district" class="input input-select" v-model="filter.municipal">
                            <option :selected="filter.municipal == 'all' ? true : false">
                                all</option>
                            <option v-for="(item,index) in municipalities"
                                :selected="index == filter.municipal ? true : false">
                                {{item.toUpperCase()}}</option>
                        </select>
                    </div>
                    <div class="col col-md-1 button-filter-container">
                        <button type="button" class="btn btn-warning button-view button-filter"
                            v-on:click="filterList()">filter
                        </button>
                    </div>

                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-info button-view" v-if="!public_user.is_active"
                        v-on:click="admitHistory()">
                        ADMIT USER
                    </button>

                    <button type="button" class="btn btn-info button-view" v-on:click="addPastHistory()">
                        ADD
                        PAST HISTORY
                    </button>
                    <button type="button" class="btn btn-info button-view" v-on:click="openGenerateReport()">
                        GENERATE
                        REPORT
                    </button>
                </div>
            </div> -->

            <filter-component :filter_add="filter_add" v-on:filter="onFilterReport($event)"
                v-on:search="onSearchReport($event)" v-on:cancel="onCancelSearchReport($event)"
                v-on:clear="onClearFilterReport()">
            </filter-component>

            <!-- LOADER -->
            <div class="loader_container" v-if="isDataLoading">
                <div class="loader"></div>
            </div>

            <!-- TABLE VIEW -->
            <div class="table-container" v-if="!isDataLoading">
                <div class="table" id="tableData">
                    <div class="well" v-if="active_history != null">
                        <div class="row">
                            <div class="col col-md-3 item-info">
                                <p class="item-value">{{1}}.</p>
                            </div>
                            <div class="col col-md-3 item-info " v-for="info,index in header">
                                <div v-if="info == 'evac_id'">
                                    <p class="item-label">EVACUATION NAME</p>
                                    <p class="item-value">{{getEvacFromId(active_history.evac_id).name}}</p>
                                </div>
                                <entry-single-component v-if="info != 'evac_id'" :label="info"
                                    :value="active_history[info]">
                                </entry-single-component>
                            </div>
                            <div class="col col-md-12">
                                <button type="button" class="btn btn-default btn-warning" v-if="public_user.is_active"
                                    v-on:click="clearAdmission()">Clear Admission</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="deleteAdmission()">delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="well" v-for="item,index in reports_view">
                        <div class="row">
                            <div class="col col-md-3 item-info">
                                <p class="item-value">{{index + (!active_history ? 1 : 2) }}.</p>
                            </div>
                            <div class="col col-md-3 item-info " v-for="info,index in header">
                                <div v-if="info == 'evac_id'">
                                    <p class="item-label">EVACUATION NAME</p>
                                    <p class="item-value">{{getEvacFromId(item.evac_id).name}}</p>
                                </div>
                                <entry-single-component v-if="info != 'evac_id'" :label="info" :value="item[info]" :showtime="true">
                                </entry-single-component>
                            </div>
                            <div class="col col-md-12">
                                <button class="btn btn-default btn-info" v-on:click="editItem(index)">edit</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="deleteItem(index)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/app/app.js"></script>

    <script>
        app = new Vue({
            el: '#content',
            data: {
                user: null,
                evac_list:  [],
                evac_names: {},
                evac_dict:  {},

                reports: [],
                reports_view: [],
                active_history: null,

                data_input: {},
                municipalities: [],
                isDataLoading: true,
                isEdit: false,
                isAdmit: false,

                filter_add: {
                    evacuations : [],
                },

                header: PublicUserHistory.headers,
                formModel: PublicUserHistory.formModel,

                public_user_formModel: PublicUser.formModel,
                public_user_headers: PublicUserHistory.visiblekeys,
                dependentsHeaders: DependentUser.formDependent,
                public_user: new PublicUser(),
            },
            methods: {
                onStart() {
                    this.user = header.user
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const id = urlParams.get('id') || null
                    this.formModel = PublicUserHistory.formModel
                    this.fetchHistory(id)
                    this.municipalities = municipalities

                },

                fetchHistory(id, isAll) {
                    this.isDataLoading = true
                    if (id) {
                        DataHandler.getPublicUsers(null, id).then((message) => {
                            console.log("public user %o", message.data)
                            this.public_user = message.data
                            this.public_user_headers = PublicUser.visiblekeys
                        }).catch(err => {
                            console.log(err)
                        })
                    }

                    let historyPromise  = DataHandler.getPublicUserHistory(id)
                    let evacPromise     = DataHandler.getEvacuationCenters()

                    Promise.all([historyPromise, evacPromise]).then((data) => {

                        let history = data[0].data.filter((history) => {
                            if (!history.date_cleared) {
                                this.active_history = history
                                return false
                            }
                            return true
                        })
                        this.reports        = history
                        this.reports_view   = history

                        this.evac_list = data[1].data
                        this.filter_add.evacuations = ['all']

                        this.formModel.evac_id.options = this.evac_list.map((evac) => {
                            this.evac_dict[evac.id] = evac
                            this.evac_names[evac.name] = evac.id
                            this.filter_add.evacuations.push(evac.name)
                            
                            return {
                                title: evac.name,
                                value: evac.id
                            }
                        })
                    }).catch(err => {
                        console.log("err %o", err)
                    }).finally(() => {
                        this.isDataLoading = false
                    })

                }, //fetchHistory

                getEvacFromId(id) {
                    return this.evac_dict[id]
                }, //getEvacFromId

                editItem(index) {
                    this.data_input = PublicUserHistory.parse(this.reports_view[index].toObject())
                    this.data_input.date_updated = new Date()
                    this.isEdit = true
                    $('#editorModal').modal()
                }, //editItem

                createHistory() {
                    var input = new PublicUserHistory()
                    input.user_id = this.public_user.id
                    input.created_by = this.user.id
                    this.isEdit = false
                    return input
                }, //addHistory

                addPastHistory() {
                    this.data_input = this.createHistory()
                    this.formModel.date_cleared.isHidden = false
                    this.data_input.date_admitted = new Date()
                    this.isAdmit = false
                    $('#editorModal').modal()
                }, //addPastHistory

                admitHistory() {
                    this.data_input = this.createHistory()
                    this.formModel.date_cleared.isHidden = true
                    this.isAdmit = true
                    $('#editorModal').modal()
                },//admitHistory

                clearAdmission() {
                    this.data_input = PublicUserHistory.parse(this.active_history.toObject())
                    this.data_input.date_cleared = new Date()
                    this.saveHistory()
                    this.updateUserActive(false)
                },//clearAdmission

                saveHistory() {
                    DataHandler.addPublicUserHistory(this.data_input).then((data) => {
                        console.log('response %o', data)
                        if (data.error) {
                            throw date.error
                        } else {
                            AlertMessages.success()
                            location.reload()
                        }
                    }).catch(err => {
                        AlertMessages.error(err)
                    }).finally(() => {
                        this.data_input = new PublicUserHistory()
                    })

                    if (this.isAdmit) {
                        this.updateUserActive(true)
                    }
                }, //saveHistory

                updateUserActive(isActive) {
                    var public_user = PublicUser.parse(this.public_user.toObject())
                    public_user.is_active = isActive
                    DataHandler.addPublicUser(public_user).then((data) => {
                        console.log('updated user %o', data)
                        if (data.error) {
                            throw date.error
                        }
                        this.public_user = public_user
                    }).catch(err => {
                        console.log("error %o", err)
                    })
                },//updateUserActive

                deleteAdmission() {
                    let id = this.active_history.id
                    let onConfirm = confirm(`delete admission? id: ${id}`)
                    if (onConfirm) {
                        DataHandler.deletePublicUserHistory(id).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                throw data.error
                            } else {
                                AlertMessages.deleted()
                                location.reload()
                            }
                        }).catch(err => {
                            AlertMessages.error(err)
                        })

                        this.updateUserActive(false)
                    }
                },//deleteAdmission

                deleteItem(index) {
                    let id = this.reports_view[index].id
                    let onConfirm = confirm(`delete item id: ${id}`)
                    if (onConfirm) {
                        DataHandler.deletePublicUserHistory(id).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                throw data.error
                            } else {
                                AlertMessages.deleted()
                                location.reload()
                            }
                        }).catch(err => {
                            AlertMessages.error(err)
                        })
                    }
                }, //deleteItem


                /* FILTER / SEARCH */
                onFilterReport(filter) {
                    console.log("filter %o", filter)

                    var view_list = this.reports.filter((data) => {
                        let date_admitted   = new Date(data.date_admitted)
                        let date_cleared    = new Date(data.date_cleared)
                        let evac            = this.evac_dict[data.evac_id] || new EvacuationCenter()

                        return (
                            (filter.year == 'all' ||
                                filter.year == date_admitted.getFullYear() ||
                                filter.year == date_cleared.getFullYear()
                            ) &&
                            (filter.month == 'all' ||
                                filter.month == (months_array[date_admitted.getMonth()] || 0) ||
                                filter.month == (months_array[date_cleared.getMonth()] || 0)
                            ) &&
                            (filter.municipality == 'all' ||
                                (filter.municipality == evac.municipality))
                        )
                    });

                    
                    view_list = view_list.filter((data) => {
                        let evac = filter.evacuations
                        if (evac == 'all') {
                            return true
                        } else {
                            let evac_id = this.evac_names[evac]
                            return data.evac_id == evac_id
                        }
                    })

                    this.reports_view = view_list
                },

                onSearchReport(filter) {
                    this.onFilterReport(filter)

                    this.reports_view = this.reports_view.filter((data) => {
                        //let user = this.donor_ref[data.user_id]

                        var object = {
                            ...data.toObject(),
                        }
                        let evac = this.evac_dict[data.evac_id]
                        object['evac_name'] = evac ? evac.name : "public"
                        object['municipal'] = evac ? evac.municipal : "public"
                        console.log("object search %o", object)
                        return SearchObject(object, filter.searchTerm)
                    })
                },

                onCancelSearchReport(filter) {
                    this.onFilterReport(filter)
                },

                onClearFilterReport() {
                    this.reports_view = [...this.reports]
                },

                onGenerateReport(){
                    let csv = ConvertToCSV(this.reports_view)
                    saveTextAsFile('donors_report.csv', csv)
                },

            }
        })
    </script>

</body>

</html>