<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Public Users</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.19.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.19.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/7.19.1/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="../_global/js/objects.js"></script>
    <script src="../_global/js/utilities.js"></script>
    <script src="../_global/js/datahandler.js"></script>


</head>

<body>
    <div class="sidenav" id="header" attr="users">
        <div class="sidenav-item">
            <img class="nav-image" :src="logo" />
        </div>

        <div v-for="item in header_items" v-bind:class="'sidenav-item ' + (active == item.id ? 'active' : '') ">
            <a v-bind:href="item.href">
                <div class="icon-block">
                    <i class="material-icons">{{item.icon}}</i>
                    <h5 class="center">{{item.title}}</h5>
                </div>
            </a>
        </div>

        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">

        <ul class="breadcrumb">
            <li><a href="users.html">Users</a></li>
            <li><a href="#">User List</a></li>
        </ul>

        <div id="userModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} Account</h4>
                    </div>
                    <div class="modal-body">
                        <form-generator :form="formModel" :input.sync="user_input"></form-generator>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="onSaveUser()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <status-modal 
            modal_id    = "status_modal_update"
            title       = "Update User Status"
            :status     = "user_status"
            v-on:save   = "updateUserStatus($event)">
        </status-modal>


        <div id="dependentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} Dependent Account</h4>
                    </div>
                    <div class="modal-body">
                        <form-generator :form="formDependent" :input.sync="dependent_input"></form-generator>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="onSaveDependent()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <update-status-modal :input.sync="report_input" v-on:persist="saveReport"></update-status-modal>

        <!-- MODAL -->
        <div id="reportModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{isEdit ? 'Edit ': 'Add '}} User Request Report</h4>
                    </div>
                    <div class="modal-body">
                        <form-generator :form="pending_formModel" :input.sync="report_input"></form-generator>
                        <ol class="list-group">
                            <li class="list-group-item danger">
                                <button type="button" class="btn btn-info" v-on:click="addInputInventory()">Add Item
                                    Request</button>
                            </li>

                            <li class="list-group-item" v-for="report,index in report_input.reports">
                                <form-generator :form="pending_formReportModel" :input.sync="report"></form-generator>
                                <button type="button" class="btn btn-danger"
                                    v-on:click="removeInputInventory(index)">Remove</button>
                            </li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="saveReport()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div><!-- MODAL -->

        <h1>Public Users</h1>


        <!-- <div class="section">
            <h3>Latest Reports</h3>
            <-!-- HEADER FILTER --|>
            <div class="header-container">
                <filter-component :filter_add="filter_pending_add" v-on:filter="onFilterPendingReports($event)"
                    v-on:search="onSearchPendingReports($event)" v-on:cancel="onCancelSearchPendingReports($event)"
                    v-on:clear="onClearFilterPendingReports()">
                </filter-component>
                <div class="button-container">
                    <button type="button" class="btn btn-info button-view" v-on:click="onViewAllPending()">VIEW
                        ALL</button>
                    <button type="button" class="btn btn-info button-view"
                        v-on:click="onGeneratePendingReports()">GENERATE
                        REPORT DATA</button>
                </div>
            </div>

            <-!-- LOADER --|>
            <div class="loader_container" v-if="isReportsLoading">
                <div class="loader"></div>
            </div>

            <-!-- TABLE VIEW --|>
            <div class="table-container" v-if="!isReportsLoading">
                <div class="table" id="tableData">
                    <div class="well" v-for="item,index in pending_reports_view">
                        <div class="row">
                            <div class="col col-md-12 item-info">
                                <p class="item-value">{{index + 1}}.</p>
                            </div>
                            <div class="col col-md-3 item-info " v-for="info,index in pending_header">
                                <div v-if="info == 'evac_id'">
                                    <p class="item-label">EVACUATION NAME</p>
                                    <p class="item-value">
                                        {{item.evac_id.isEmpty() ? 'public' : getEvacFromId(item.evac_id) ? getEvacFromId(item.evac_id).name : ''}}</p>
                                </div>
                                <entry-single-component v-if="info != 'evac_id'" :label="info" :value="item[info]">
                                </entry-single-component>
                            </div>
                            <div class="col col-md-12">
                                <button class="btn btn-default btn-info" :href="'#requestrow-'+index" data-toggle="collapse">view details</button>
                                <button class="btn btn-default btn-info" :href="'#commentrow-'+index" data-toggle="collapse">view comments</button>
                                <button class="btn btn-default btn-warning" v-on:click="editReport(index)">edit</button>
                                <button class="btn btn-default btn-warning" v-on:click="editStatus(index)">update status</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="deleteItem(index)">delete</button>
                            </div>
                        </div>
                        <div :id="'requestrow-'+index" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-if="item.reports.isEmpty()">
                                        <p>No Request</p>
                                    </li>

                                    <li class="list-group-item" v-for="report,index in item.reports">
                                        <-!-- <img :src="cdn+image" class="img-thumbnail img-grid"/> --|>
                                        <div class="row">
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    {{ index + 1 }}. {{supply_types[report.inventory_type].name}}
                                                </p>
                                            </div>
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    QTY:
                                                </p>
                                                <p class="item-value">
                                                    {{report.qty}}
                                                </p>
                                            </div>
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    remarks:
                                                </p>
                                                <p class="item-value">
                                                    {{report.remarks}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div :id="'commentrow-'+index" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-if="item.comments.isEmpty()">
                                        <p>No Comments</p>
                                    </li>

                                    <li class="list-group-item" v-for="comment,index in item.comments">
                                        <div class="row">
                                            <div class="col col-md-12 item-info">
                                                <p class="item-label">
                                                    {{ index + 1 }}. {{comment.user_id}}
                                                </p>
                                            </div>
                                            <div class="col col-md-12 item-info">
                                                <p>{{comment.comment}}</p>
                                            </div>
                                            <div class="col col-md-12 item-info">
                                                <p class="item-value">
                                                    {{comment.date_updated ? formatDate(comment.date_updated) : "--"}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="section">
            <h3>Users</h3>
            <filter-component :filter_add="filter_add" v-on:filter="onFilterPublic($event)"
                v-on:search="onSearchPublic($event)" v-on:cancel="onCancelSearchReport($event)"
                v-on:clear="onClearFilterReport()">
            </filter-component>
            <div class="button-container">
                <button type="button" id="add-report" class="btn btn-info button-view" v-on:click="onAddNewUser()">Add
                    New User</button>
                <button type="button" id="add-report" class="btn btn-info button-view"
                    v-on:click="onGenerateReport()">Generate Report</button>
            </div>
        </div>
        <div class="loader-container" v-if="isLoading">
            <div class="loader"></div>
        </div>


        <div class="section" v-if="!isLoading">
            <div class="table-container" id="tableData">
                <div class="well" v-for="item,index in view_user_list">
                    <div class="row">
                        <div class="col col-md-1 item-info">
                            <p class="item-label">
                                {{index + 1}}.
                            </p>
                        </div>
                        <div class="col col-md-12 item-info">
                            <img :src="cdn + item.images[0]" onerror="this.src='resources/images/avatar.jpeg';"
                                style="height: 50px; width: 50px; border-radius: 25;">
                        </div>
                        <div class="col col-md-12">
                            <entry-component :entry="item" :headers="headers" :labels="user_labels"></entry-component>
                        </div>


                        <div class="col col-md-12">
                            <button class="btn btn-default btn-info" :href="'#dependentrow'+index"
                                data-toggle="collapse">View Dependents</button>
                            <button class="btn btn-default btn-info" v-on:click="onViewHistory(item.id)">View
                                History</button>
                            <button class="btn btn-default btn-info" v-on:click="onViewReports(item.id)">View
                                Reports</button>
                            <button class="btn btn-default btn-info" :href="'#imagerow'+index"
                                data-toggle="collapse">View Images</button>
                            <button class="btn btn-warning btn-info" v-on:click="onEditItem(index)">edit</button>
                            <button class="btn btn-warning btn-info" v-on:click="onUserStatus(index)">update status</button>
                            <button class="btn btn-default btn-danger" v-on:click="onDeleteItem(index)">delete</button>
                        </div>
                    </div>

                    <div :id="'dependentrow'+index" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" v-if="!item.dependents || item.dependents.length <= 0">
                                    <p>No Dependents</p>
                                </li>

                                <li class="list-group-item" v-for="dependent,index in item.dependents">
                                    <!-- <img :src="cdn+image" class="img-thumbnail img-grid"/> -->
                                    <div class="row">
                                        <div class="col col-md-4 item-info" v-for="key,index in dependentsHeaders"
                                            v-if="key !='id'">
                                            <p class="item-label">
                                                {{formModel[key].title}}:
                                            </p>
                                            <p class="item-value" v-if="key != 'sex'">
                                                {{dependent[key] || '--'}}
                                            </p>
                                            <p class="item-value" v-if="key == 'sex'">
                                                {{dependent[key] == 0 ? 'Male' : 'Female'}}
                                            </p>
                                        </div>
                                        <div class="col col-md-12">
                                            <button class="btn btn-default btn-info"
                                                v-on:click="onEditDependent(item.id,index)">edit</button>
                                            <button class="btn btn-default btn-danger"
                                                v-on:click="onDeleteDependent(item.id, index)">delete</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <button class="btn btn-default btn-info" v-on:click="onAddNewDependent(index)">Add New
                                    Dependent</button>
                            </div>
                        </div>
                    </div>

                    <div :id="'imagerow'+index" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- <div class="row">
                                <div class="col col-md-12" v-if="!item.images || item.images.length <= 0">
                                    <p>Images are empty</p>
                                </div>
                                <div class="col col-md-2 item-info" v-for="image,index in item.images">
                                    <div class="image-area">
                                        <img :src="cdn+image" alt="Preview">
                                        <a class="remove-image" v-on:click="onDeleteImage(item.id, index)"
                                            style="display: inline;">&#215;</a>
                                    </div>
                                </div>
                            </div> -->
                            <entry-image-component 
                                    :id="item.id" 
                                    :cdn="cdn" 
                                    :images="item.images"
                                    :edit='true'
                                    v-on:delete="onDeleteImage($event)"
                                    >
                                </entry-image-component>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <p>Upload Images</p>
                                <input :id="'input_images'+index" type="file" name="files[]" multiple
                                    style="margin-bottom: 12px;" />
                                <button class="btn btn-default btn-info" v-on:click="onAddImages(index)">upload
                                    pictures</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <script src="js/app/app.js"></script>
    <script>
        var formDependent = {}
        DependentUser.formDependent.forEach((key) => {
            formDependent[key] = PublicUser.formModel[key]
        })

        console.log("formdependent %o", formDependent)

        app = new Vue({
            el: '#content',
            data: {
                user: new AdminUser(),
                user_list: [],

                view_user_list: [],

                user_input: {},
                user_status: StatusType.pending,

                dependent_input: {},

                edit_dependent: {
                    user_index: null,
                    dep_index: null
                },

                headers: PublicUser.visiblekeys,
                user_labels: PublicUser.headers,

                formModelHeaders: Object.keys(PublicUser.formModel),
                formModel: PublicUser.formModel,

                dependentsHeaders: DependentUser.formDependent,
                formDependent: formDependent,

                isEdit: false,

                editUserId: null,
                municipalities: [],

                isLoading: false,

                filter_add: {
                    sex: ['all', 'MALE', 'FEMALE'],
                    admitted: ['all', 'TRUE', 'FALSE'],
                    dependents: ['all', 'NONE', 'HAS'],
                    status: Object.keys(StatusType)
                },


                report_input: {},

                evac_list: [],
                evac_dict: {},
                evac_names: {},
                public_users_ref: {},

                pending_reports: [],
                pending_reports_view: [],

                pending_header: PublicUserReport.headers,
                pending_formModel: PublicUserReport.formModel,
                pending_formReportModel: {},

                supply_types: {},
                supply_types_option: [],

                isReportsLoading: false,

                filter_pending_add: {
                    evacuation: [],
                    status: ['all', ...Object.keys(SupplyStatus)],
                    item_type: []
                },
                cdn: DataHandlerType.api_host,
            },
            methods: {
                onStart() {
                    this.user = header.user
                    this.municipalities = municipalities
                    this.formModel.municipality.options = municipalities.map((municipal) => {
                        return {
                            title: municipal,
                            value: municipal
                        }
                    })
                    this.fetchUser()
                    this.fetchPendingReports()
                }, //onStart

                fetchUser() {
                    this.isLoading = true
                    DataHandler.getPublicUsers(this.user.municipality).then((message) => {
                        this.setUser(message.data)
                    }).catch(err => {
                        console.log(err)
                    }).finally(() => {
                        this.isLoading = false
                    })

                }, //fetchUser

                setUser(data) {
                    this.view_user_list = data
                    this.user_list = data
                    console.log("userlist %o", this.user_list)
                }, //setUser

                //<!----------INDEPENDENT-USER--------------
                onAddNewUser() {
                    this.user_input = (new PublicUser()).toObject()
                    this.user_input.created_by = this.user.id
                    this.isEdit = false
                    $('#userModal').modal()
                }, //onAddNewUser

                onEditItem(index) {
                    const user = this.user_list[index]
                    this.isEdit = true
                    this.user_input = user.toObject()
                    this.user_input.date_updated = new Date()
                    $('#userModal').modal()
                }, //onEditItem

                onUserStatus(index) {
                    const user = this.user_list[index]
                    this.isEdit = true
                    this.user_input = user.toObject()
                    this.user_input.date_updated = new Date()
                    this.user_status = this.user_input.status
                    $('#status_modal_update').modal()
                },

                updateUserStatus(status) {
                    console.log("updateUserStatus - status %o", status)
                    this.user_input.status = status
                    this.user_input.date_updated = new Date()
                    console.log("updateUserStatus - model %o", this.user_input)
                    this.onSaveUser()
                },

                onSaveUser() {
                    const input = PublicUser.parse(this.user_input)

                    DataHandler.addPublicUser(input).then((data) => {
                        if (data.error) {
                            alert(`Can't Save User: ${data.error}`)
                        } else {
                            alert(`User Have Been Saved Successfuly`)
                            this.fetchUser()
                        }
                    }).catch(error => {
                        console.log(error)
                    })
                }, //onSaveUser

                onAddImages(index) {
                    const files = document.getElementById('input_images' + index).files;
                    var uploads = []
                    for (var i = 0; i < files.length; i++) {
                        uploads.push(files[i])
                    }

                    if (uploads.length > 0) {

                        var value = PublicUser.parse(this.user_list[index].toObject())

                        DataHandler.uploadImages(uploads).then((resp) => {
                            return resp.json()
                        }).then((saved_images) => {
                            value.images = value.images || []
                            value.images = value.images.concat(saved_images)
                            return DataHandler.addPublicUser(value)
                        }).then((message) => {
                            if (!message.error) {
                                alert("Item Persisted Successfuly")
                                this.fetchUser()
                            } else {
                                alert(`Failed to updated error: ${message.error}`)
                            }
                        }).catch(error => {
                            console.log(error)
                        })
                    }
                },//onAddImages

                onDeleteItem(index) {
                    let onConfirm = confirm('Deleting User\nPress confirm to proceed')
                    if (onConfirm) {
                        DataHandler.deletePublicUser(this.user_list[index].id).then((data) => {
                            console.log(data)
                            if (data.error) {
                                alert(`Can't Delete User ${data.error}`)
                            } else {
                                alert(`User Have Been Deleted Successfuly`)
                                this.fetchUser()
                            }
                        })
                    }
                }, //onDeleteItem

                onViewHistory(id) {
                    window.open(`user_history.html?id=${id}`, '_self')
                }, //onViewHistory

                onViewReports(id) {
                    window.open(`user_reports.html?id=${id}`, '_self')
                }, //onViewReports



                onCancelSearch() {
                    this.filter.searchTerm = ""
                    this.view_user_list = this.user_list
                },
                //----------INDEPENDENT-USER--------------!>

                //<!----------DEPENDENT-USER-----------------
                onAddNewDependent(index) {
                    if (!this.user_list[index]) {
                        return
                    }

                    this.isEdit = false
                    this.edit_dependent.user_index = index
                    this.dependent_input = (new DependentUser()).toObject()
                    this.dependent_input.created_by = this.user.id
                    $('#dependentModal').modal()
                }, //onAddNewDependent

                onEditDependent(id, dep_index) {
                    let user_index = this.user_list.findIndex((val) => {
                        return val.id == id
                    })

                    if (user_index != -1) {
                        this.isEdit = true
                        this.edit_dependent.user_index = user_index
                        this.edit_dependent.dep_index = dep_index

                        this.dependent_input = this.user_list[user_index].dependents[dep_index].toObject()
                        this.dependent_input.date_updated = new Date()
                        $('#dependentModal').modal()
                    }
                }, //onEditDependent

                onSaveDependent() {

                    console.log("edit_dependent %o", this.edit_dependent)
                    console.log("dependent %o", this.dependent_input)

                    if (this.edit_dependent.user_index == undefined || this.edit_dependent.user_index == null) {
                        return
                    }

                    const user_index = this.edit_dependent.user_index
                    const dep_index = this.edit_dependent.dep_index

                    let input = DependentUser.parse(this.dependent_input)
                    if (dep_index) {
                        this.user_list[user_index].dependents[dep_index] = input
                    } else {
                        this.user_list[user_index].dependents.push(input)
                    }
                    DataHandler.savePublicUser(this.user_list[user_index]).then((message) => {
                        if (message.error) {
                            alert(`Issue Persisting Data: ${message.error}`)
                        } else {
                            alert("Successfuly Updated Entry")
                            this.fetchUser()
                        }
                        this.edit_dependent.user_index = null
                        this.edit_dependent.dep_index = null
                    }).catch(err => {
                        console.log(err)
                    })
                }, //onSaveDependent

                onDeleteDependent(id, index) {

                    let user_index = this.user_list.findIndex((val) => {
                        return val.id == id
                    })

                    if (user_index != -1 && confirm("confirm delete entry?")) {
                        let user = this.user_list[user_index]
                        user.dependents.splice(index, 1)
                        DataHandler.savePublicUser(this.user_list[user_index]).then((message) => {
                            if (message.error) {
                                alert(`Issue Persisting Data: ${message.error}`)
                            } else {
                                alert("Successfuly Updated Entry")
                                this.fetchUser()
                            }
                            this.edit_dependent.user_index = null
                            this.edit_dependent.dep_index = null
                        }).catch(err => {
                            console.log(err)
                        })
                    }
                }, //onDeleteDependent

                //----------DEPENDENT-USER-----------------!>

                /* FILTER / SEARCH */
                onFilterPublic(filter) {
                    console.log("filter %o", filter)

                    var view_list = this.user_list.filter((data) => {
                        /* let date_created = new Date(data.date_created)
                        let date_updated = new Date(data.date_updated) */
                        //let evac = this.evac_dict[data.evac_id] || new EvacuationCenter()
                        let birthdate = new Date(data.birthdate)

                        return (
                            (filter.year == 'all' ||
                                filter.year == birthdate.getFullYear()
                            ) &&
                            (filter.month == 'all' ||
                                filter.month == (months_array[birthdate.getMonth()] || 0)
                            ) &&
                            (filter.municipality == 'all' ||
                                (filter.municipality == data.municipality))
                        )
                    });

                    view_list = view_list.filter((data) => {
                        let sex = filter.sex
                        //return (sex == 'all' || data.sex.toLowerCase() == sex.toLowerCase())
                        if (sex == 'all') {
                            return true
                        } else if (sex == 'MALE') {
                            return data.sex == 0
                        } else {
                            return data.sex == 1
                        }
                    })

                    view_list = view_list.filter((data) => {
                        let admitted = filter.admitted
                        //return (admitted == 'all' || admitted == data.is_active)
                        if (admitted == 'all') {
                            return true
                        } else if (admitted == 'TRUE') {
                            return data.is_active
                        } else {
                            return !data.is_active
                        }
                    })

                    view_list = view_list.filter((data) => {
                        let dependents = filter.dependents
                        if (dependents == 'all') {
                            return true
                        } else if (dependents == 'NONE') {
                            return data.dependents.isEmpty()
                        } else {
                            return !data.dependents.isEmpty()
                        }
                    })


                    this.view_user_list = view_list
                },

                onSearchPublic(filter) {
                    this.onFilterPublic(filter)

                    this.view_user_list = this.view_user_list.filter((data) => {
                        var object = {
                            ...data.toObject(),
                        }
                        let user_search = SearchObject(object, filter.searchTerm)

                        let found = data.dependents.map((dep) => {
                            return SearchObject(dep, filter.searchTerm)
                        }).filter((dep) => {
                            return dep
                        })

                        return user_search || !found.isEmpty()
                    })
                },

                onCancelSearchReport(filter) {
                    this.onFilterPublic(filter)
                },

                onClearFilterReport() {
                    this.view_user_list = [...this.user_list]
                },

                onGenerateReport() {
                    let csv = ConvertToCSV(this.view_user_list)
                    saveTextAsFile('public_user.csv', csv)
                },

                //-----------PENDING REPORTS------------------!>

                fetchPendingReports(id, isAll) {
                    let promiseEvac = DataHandler.getEvacuationCenters(this.user.municipality)
                    let promiseSuppType = DataHandler.getSupplyTypes()

                    this.isReportsLoading = true

                    this.pending_formReportModel = {
                            inventory_type: {
                                title: 'Supply Type',
                                type: FormModels.dropdown,
                                options: []
                            },
                            qty: {
                                title: 'QTY',
                                type: FormModels.number
                            },
                            remarks: {
                                title: 'Remarks',
                                type: FormModels.textarea
                            }
                        }

                    Promise.all([promiseEvac, promiseSuppType]).then((messages) => {
                        console.log("promises 1:%o 2:%o", messages[0], messages[1])

                        this.evac_list = messages[0].data
                        this.filter_pending_add.evacuation = ['all']

                        this.pending_formModel.evac_id.options = this.evac_list.map((evac) => {
                            this.evac_dict[evac.id] = evac
                            this.evac_names[evac.name] = evac.id
                            this.filter_pending_add.evacuation.push(evac.name)
                            return {
                                title: evac.name,
                                value: evac.id
                            }
                        })

                        this.supply_types_option = []
                        this.filter_pending_add.item_type = ['all']
                        this.supply_types_option = messages[1].data.map((supply) => {
                            this.supply_types[supply.id] = supply
                            this.filter_pending_add.item_type.push(supply.name)
                            return {
                                title: supply.name,
                                value: supply.id
                            }
                        })

                        this.pending_formReportModel.inventory_type.options = this.supply_types_option

                        DataHandler.getPublicUserReports(id).then((message) => {
                            console.log("reports %o", message)
                            this.pending_reports = []
                            message.data.forEach((data) => {
                                this.pending_reports.push(data)
                            })
                            this.pending_reports_view = this.pending_reports

                            DataHandler.getPublicUserComments()
                            .then((message) => {
                                console.log("comments %o", message.data)
                                message.data.forEach((comment) => {
                                    let index = this.pending_reports.firstIndex((curr) => {
                                        return curr.id == comment.report_id 
                                    })
                                    if (index != null) {
                                        this.pending_reports[index].comments.push(comment)
                                    }
                                })
                            })
                        }).catch(err => {
                            console.log("err %o", err)
                        }).finally(() => {
                            console.log("hey im")
                            this.isReportsLoading = false
                        })
                    }).catch(err => {
                        console.log("err %o", err)
                    })



                    DataHandler.getPublicUsers(this.user.municipality).then((message) => {
                        var user_ids = []
                        message.data.forEach((user) => {
                            this.public_users_ref[user.id] = user
                            user_ids.push(user.id)
                        })

                        

                    }).catch(err => {
                        console.log(err)
                    })
                }, //fetchPendingReports

                getEvacFromId(id) {
                    return this.evac_dict[id]
                },

                editReport(index) {
                    let string = JSON.stringify(this.pending_reports_view[index].toObject())
                    this.report_input = PublicUserReport.parse(JSON.parse(string))
                    this.report_input.date_updated = new Date()
                    this.isEdit = true
                    $('#reportModal').modal()
                },

                editStatus(index){
                    let string = JSON.stringify(this.pending_reports_view[index].toObject())
                    this.report_input = PublicUserReport.parse(JSON.parse(string))
                    this.report_input.date_updated = new Date()
                    this.isEdit = true
                    $('#updateStatusModal').modal()
                },

                saveReport() {
                    DataHandler.addPublicUserReport(this.report_input).then((data) => {
                        console.log('response %o', data)
                        if (data.error) {
                            throw date.error
                        } else {
                            AlertMessages.success()
                            location.reload()
                        }
                    }).catch(err => {
                        AlertMessages.error(err)
                    })
                },

                deleteItem(index) {
                    let id = this.pending_reports_view[index].id
                    let onConfirm = confirm(`delete item id: ${id}`)
                    if (onConfirm) {
                        DataHandler.deletePublicUserReport(id).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                throw data.error
                            } else {
                                AlertMessages.deleted()
                                location.reload()
                            }
                        }).catch(err => {
                            AlertMessages.error(err)
                        })
                    }
                },

                addInputInventory() {
                    this.report_input.reports.push({
                        inventory_type: '',
                        qty: 0,
                        remarks: ''
                    })
                },

                removeInputInventory(index) {
                    this.report_input.reports.splice(index, 1)
                },

                //----------REPORT FILTERS----------------!>
                /* FILTER / SEARCH */
                onFilterPendingReports(filter) {
                    console.log("filter %o", filter)

                    var view_list = this.pending_reports.filter((data) => {
                        let date_created = new Date(data.date_created)
                        let date_updated = new Date(data.date_updated)
                        let evac = this.evac_dict[data.evac_id] || new EvacuationCenter()

                        return (
                            (filter.year == 'all' ||
                                filter.year == date_created.getFullYear() ||
                                filter.year == date_updated.getFullYear()
                            ) &&
                            (filter.month == 'all' ||
                                filter.month == (months_array[date_created.getMonth()] || 0) ||
                                filter.month == (months_array[date_updated.getMonth()] || 0)
                            ) &&
                            (filter.municipality == 'all' ||
                                (filter.municipality == evac.municipality))
                        )
                    });

                    view_list = view_list.filter((data) => {
                        return (filter.status == 'all' ||
                            filter.status == data.status
                        )
                    })

                    view_list = view_list.filter((data) => {
                        let evac_name = filter.evacuation

                        if (evac_name == 'all') {
                            return true
                        }

                        if (evac_name == 'public' && data.evac_id == "") {
                            console.log("report %o", data)
                            return true
                        } else if (data.evac_id == "") {
                            return false
                        }

                        let data_evac = this.evac_dict[data.evac_id].name
                        return data_evac == evac_name
                    })

                    view_list = view_list.filter((data) => {
                        let supplies = data.reports.map((report) => {
                            return this.supply_types[report.inventory_type].name.trim()
                                .toLowerCase()
                        })
                        console.log("data %o -- %o", data, supplies)
                        return (filter.item_type == 'all' || supplies.includes(filter.item_type
                            .toLowerCase()))
                    })

                    this.pending_reports_view = view_list
                },

                onSearchPendingReports(filter) {
                    this.onFilterPendingReports(filter)

                    this.pending_reports_view = this.pending_reports_view.filter((data) => {
                        let user = this.isAll ? this.public_users_ref[data.user_id] : this
                            .public_user //this.donor_ref[data.user_id]
                        var object = {
                            ...data.toObject(),
                            ...user
                        }
                        let evac = this.evac_dict[data.evac_id]
                        object['evac_name'] = evac ? evac.name : "public"
                        object['municipal'] = evac ? evac.municipal : "public"
                        console.log("object search %o", object)
                        let search = SearchObject(object, filter.searchTerm)

                        let item_search = data.reports.filter((report) => {
                            return SearchObject(report)
                        })
                        return !item_search.isEmpty() || search
                    })
                },

                onCancelSearchPendingReports(filter) {
                    this.onFilterPendingReports(filter)
                },

                onClearFilterPendingReports() {
                    this.pending_reports_view = [...this.pending_reports]
                },

                onViewAllPending() {
                    window.open('user_reports.html','_self')
                },

                onGeneratePendingReports() {
                    let csv = ConvertToCSV(this.pending_reports_view)
                    saveTextAsFile(`public_user_pending_reports-${(new Date()).toLocaleDateString()}.csv`, csv)
                },
            }
        })

        /* $(document).ready(() => {
            header.onStart()
        }) */
    </script>

</body>

</html>