#navbar{
    margin-bottom: 0px;
    border-radius: unset;
    background: #4AC1E2!important;
    border: none;
    color: white;
}

.navbar-brand,.navbar-inverse .navbar-nav>li>a{
    color: white!important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: #3498db!important;
    border: none;
    color: white;
}



body{
    margin: 0;
    overflow-y: hidden;
}

#div-home{
    padding-top: 30%;
    text-align: center;
    background: #4AC1E2;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100%;    
}

#btn_start{    
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;     
    background: white;
    border:none;
    transition: all .3s ease-in-out;    
}

#btn_start:hover{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}


.danger{
    color: red;
}

.success{
    color: green;
}

.bottom-container {
    position: fixed;
    z-index: 10;
    bottom: 0;
    padding: 10px;
    align-items: 'stretch';
    justify-content: flex-end;
}

.bottom-button {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    border:none;
    margin: 20px;
    background: #4AC1E2;
    color: white;
}

#button_reload{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
}